Source: runit-docker
Section: contrib/admin
Priority: optional
Maintainer: Kosma Moczek <kosma@kosma.pl>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/kosma/runit-docker
#Vcs-Git: git://anonscm.debian.org/collab-maint/runit-docker.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/runit-docker.git;a=summary

Package: runit-docker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: painlessly use runit in Docker containers
