[Unit]
Description=Arvados Keep web gateway
Documentation=https://doc.arvados.org/
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/keep-web
Restart=always

[Install]
WantedBy=multi-user.target
