<%= link_to setup_user_popup_path,
  {class: 'btn btn-sm btn-primary', :remote => true, 'data-toggle' =>  "modal",
    'data-target' => '#user-setup-modal-window', return_to: request.url} do %>
  <i class="fa fa-fw fa-plus"></i> Add a new user
<% end %>
<div id="user-setup-modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
