<% content_for :breadcrumbs do raw '<!-- -->' end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <%= render partial: 'feed_item_div', collection: feed_items, as: :object %>
    </div>
  </div>
</div>
