<div>
  <% if !@my_ssh_keys.any? %>
     <p> You have not yet set up an SSH public key for use with Arvados. </p>
     <p>  <%= link_to "Click here to learn about SSH keys in Arvados.",
	          "#{Rails.configuration.arvados_docsite}/user/getting_started/ssh-access-unix.html", 
	          style: "font-weight: bold",
	          target: "_blank" %>       </p>
     <p> When you have an SSH key you would like to use, add it using the <b>Add</b> button. </p>
  <% end %>

  <% if @my_ssh_keys.andand.any? %>
    <table class="table virtual-machines-table" style="table-layout:fixed; overflow:hidden; white-space: nowrap;">
      <colgroup>
        <col style="width: 30%" />
        <col style="width: 65%" />
        <col style="width: 5%" />
      </colgroup>
      <thead>
        <tr>
          <th> Name </th>
          <th> Public Key </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <% @my_ssh_keys.andand.each do |key| %>
          <tr>
            <td style="width:50px; overflow:hidden;">
              <%= key[:name] %>
            </td>
            <td style="width:100px; overflow:hidden;">
              <%= key[:public_key] %>
            </td>
            <td>
              <%= link_to(authorized_key_path(id: key[:uuid]), method: 'delete', class: 'btn btn-sm', data: {confirm: "Really delete key?"}) do %>
                  <i class="fa fa-fw fa-trash-o"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
