<div>
  <p>
    For more information see <%= link_to raw('setting up SSH access'),
    "#{Rails.configuration.arvados_docsite}/user/getting_started/ssh-access-unix.html", target: "_blank"%>
  </p>

  <table class="table virtual-machines-table">
    <colgroup>
      <col style="width: 50%" />
      <col style="width: 50%" />
    </colgroup>
    <thead>
      <tr>
        <th> Host name </th>
        <th> Login name </th>
      </tr>
    </thead>
    <tbody>
      <% @my_virtual_machines.andand.each do |vm| %>
        <tr>
          <td style="word-break:break-all;">
            <%= vm[:hostname] %>
          </td>
          <td style="word-break:break-all;">
            <%= @my_vm_logins[vm[:uuid]].andand.compact || [] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
