<div class="col-sm-6">
  <div class="panel-group" id="arv-adv-accordion">
    <div class="panel panel-default">
      <%= render partial: "manage_virtual_machines" %>
    </div>
    <div class="panel panel-default">
      <%= render partial: "manage_repositories" %>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="panel-group" id="arv-adv-accordion">
    <div class="panel panel-default">
      <%= render partial: "manage_ssh_keys" %>
    </div>
    <div class="panel panel-default">
      <%= render partial: "manage_current_token" %>
    </div>
  </div>
  <div id="add-ssh-key-modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</div>
