<div class="clearfix">
  <h4>Quick links</h4>
  <div class="well dash-list">
    <ul class="nav nav-list">
      <li><%= link_to "Introduction to Arvados", "https://arvados.org/projects/arvados/wiki/Introduction_to_Arvados" %></li>
      <li><%= link_to "User Guide and Tutorials", "http://doc.arvados.org/user/" %></li>
      <li><%= link_to "API Reference", "http://doc.arvados.org/api/" %></li>
    </ul>
  </div>
</div>
