<h4>Your account</h4>
<div class="well clearfix">
  <div>
    Status: <strong>New / inactive</strong>
  </div>
  <br />
  We will send you an email when your account is activated. If this
  hasn&rsquo;t happened after 24 hours, please let us know.
  <br />
  <%= link_to raw('Contact us &#x2709;'), Rails.configuration.activation_contact_link, class: "pull-right btn btn-primary" %>
</div>
