 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>

  <div class="modal-body">
       <form method="POST" class="form-horizontal" onsubmit="return false">
           <input id="repository_name" maxlength="250" name="repositoryname" type="text">
       </form>
  </div>
  <div class="modal-footer">
    <button id="save-button" class="btn" onclick="save_user()">Save</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>

