 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>

  <div class="modal-body">
  <%= form_tag setup_user_url(id: @object.uuid), method: 'get', remote: true, class: 'form-search' do %>
      <input id="repo_name" maxlength="250" name="repo_name" type="text">
      <button type="submit" class="btn">Submit</button>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>  </div>  
  <% end %>
  </div>
