<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<p>
  As an admin user, you can <%= link_to "view recent user activity", activity_users_url %>.
</p>

