<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<% content_for :breadcrumbs do raw '<!-- -->' end %>

<div class="row">
  <div class="col-sm-8 col-sm-push-4" style="margin-top: 1em">
    <div class="well clearfix">
      <%= image_tag "dax.png", style: "width: 147px; height: 197px; max-width: 25%; margin-right: 2em", class: 'pull-left' %>

      <h3>Hi! You're logged in, but...</h3>

      <p>

        Your account is inactive.

      </p><p>

        An administrator must activate your account before you can get
        any further.

      </p><p>

        <%= link_to 'Retry', (params[:return_to] || '/'), class: 'btn btn-primary' %>

      </p>

      <p>
	Already have an account with a different login?  <a href="/users/link_account">Link this login to your existing account.</a>
      </p>

    </div>
  </div>
</div>
