<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<% content_for :css do %>
table#users-storage-table th {
    overflow-x: hidden;
    text-align: center;
}
table#users-storage-table .byte-value {
    text-align: right;
}
<% end %>
<table class="table table-condensed arv-index" id="users-storage-table">
  <colgroup>
    <col />
  </colgroup>

  <tr>
    <th scope="col" rowspan="2">User</th>
    <th scope="col" colspan="2">
      Collections Read Size
    </th>
    <th scope="col" colspan="2">
      Collections Persisted Storage
    </th>
    <th scope="col" rowspan="2">Measured At</th>
  </tr>
  <tr>
    <% 2.times do %>
    <th scope="col" class="byte-value">
      Total (unweighted)
    </th>
    <th scope="col" class="byte-value">
      Shared (weighted)
    </th>
    <% end %>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <% if user.uuid %>
      <small>
        <%= link_to_if_arvados_object user, friendly_name: true %>
      </small>
      <% else %>
      <b>Total</b>
      <% end %>
    </td>
    <% [:read_collections_total_bytes, :read_collections_weighted_bytes, :persisted_collections_total_bytes, :persisted_collections_weighted_bytes].each do |key| %>
    <td class="byte-value">
      <%= human_readable_bytes_html(@user_storage[user.uuid].fetch(key,0).floor) %>
    </td>
    <% end %>
    <% if @log_date.key?(user.uuid) %>
    <td class="date" title="<%= @log_date[user.uuid] %>">
      <%= @log_date[user.uuid].strftime('%F') %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>

<% content_for :footer_js do %>
$('#users-storage-table td small').each(function(){
  if ($(this).html().trim() == '0')
    $(this).css('opacity', '0.3');
});
<% end %>
