<% content_for :css do %>
table#users-storage-table th {
    overflow-x: hidden;
}
table#users-storage-table .cell-for-span-This-month,
table#users-storage-table .cell-for-span-Last-month {
    background: #eee;
}
<% end %>
<table class="table table-condensed arv-index" id="users-storage-table">
  <colgroup>
    <col width="28%" />
  </colgroup>

  <tr>
    <th rowspan="2">User</th>
    <th colspan="2">
      Collections Read Size
    </th>
    <th colspan="2">
      Collections Persisted Storage
    </th>
  </tr>
  <tr>
    <% 2.times do %>
    <th>
      Total (unweighted)
    </th>
    <th>
      Shared (weighted)
    </th>
    <% end %>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <small>
	<% if user.uuid %>
	<%= link_to_if_arvados_object user, friendly_name: true %>
	<% else %>
	<b>Total</b>
	<% end %>
      </small>
    </td>
    <% [:read_collections_total_bytes, :read_collections_weighted_bytes, :persisted_collections_total_bytes, :persisted_collections_weighted_bytes].each do |key| %>
    <td>
      <%= @user_storage[user.uuid][key].to_s %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>

<% content_for :footer_js do %>
$('#users-storage-table td small').each(function(){
    if ($(this).html().trim() == '0')
	$(this).css('opacity', '0.3');
});
<% end %>
