<h1>Please log in to use Arvados Workbench.</h1>
</p>
<p style="margin-top: 1em">
When you click on the button below you will be taken to a Google sign-in page.  After entering your information, you will be redirected back to the Arvados Workbench.  If you have never used Arvados before, logging in for the first time will also create a new user account.  Arvados uses Google services for only for identification, and will never access any personal information.
</p>
<p style="margin-top: 1em">
  <a  class="btn btn-primary" href="<%= $arvados_api_client.arvados_login_url(return_to: request.url) %>">Click here to log in to Arvados Workbench with a Google account</a>
</p>

