---
layout: default
navsection: installguide
title: Set up a compute node with Singularity
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

{% include 'notebox_begin_warning' %}
This page describes the requirements for a compute node in a Slurm or LSF cluster that will run containers dispatched by @crunch-dispatch-slurm@ or @arvados-dispatch-lsf@. If you are installing a cloud cluster, refer to "Build a cloud compute node image":{{ site.baseurl }}/install/crunch2-cloud/install-compute-node.html.
{% include 'notebox_end' %}

{% include 'notebox_begin_warning' %}
These instructions apply when Containers.RuntimeEngine is set to @singularity@, refer to "Set up a compute node with Docker":install-compute-node-docker.html when running @docker@.
{% include 'notebox_end' %}

# "Introduction":#introduction
# "Install python-arvados-fuse and crunch-run and squashfs-tools":#install-packages
# "Set up Singularity":#singularity
# "Singularity mksquashfs configuration":#singularity_mksquashfs_configuration

h2(#introduction). Introduction

Please refer to the "Singularity":{{site.baseurl}}/architecture/singularity.html documentation in the Architecture section.

This page describes how to configure a compute node so that it can be used to run containers dispatched by Arvados on a static cluster. These steps must be performed on every compute node.

{% assign arvados_component = 'python-arvados-fuse crunch-run squashfs-tools' %}

{% include 'install_packages' %}

h2(#singularity). Set up Singularity

Follow the "Singularity installation instructions":https://sylabs.io/guides/3.7/user-guide/quick_start.html. Make sure @singularity@ and @mksquashfs@ are working:

<notextile>
<pre><code>$ <span class="userinput">singularity version</span>
3.7.4
$ <span class="userinput">mksquashfs -version</span>
mksquashfs version 4.3-git (2014/06/09)
[...]
</code></pre>
</notextile>

Then update @Containers.RuntimeEngine@ in your cluster configuration:

<notextile>
<pre><code>      # Container runtime: "docker" (default) or "singularity"
      RuntimeEngine: singularity
</code></pre>
</notextile>

{% include 'singularity_mksquashfs_configuration' %}

h2(#singularity_loop_device_errors). Singularity loop device errors

With singularity v3.9.1 and earlier, containers may fail intermittently at startup with an error message similar to the following in the container log's @stderr.txt@ (line breaks added):

<notextile>
<pre><code>FATAL:   container creation failed:
 mount /proc/self/fd/3->/usr/local/var/singularity/mnt/session/rootfs error:
 while mounting image /proc/self/fd/3:
 failed to find loop device:
 could not attach image file to loop device:
 failed to set loop flags on loop device:
 resource temporarily unavailable
</code></pre>
</notextile>

This problem is addressed in singularity v3.9.2. For details, please see "Arvados issue #18489":https://dev.arvados.org/issues/18489 and "singularity PR #458":https://github.com/sylabs/singularity/pull/458.
