<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<% content_for :js do %>
$(function(){
  $('button.login').button().click(function(){window.location=$(this).attr('href')});
});
<% end %>
<div id="intropage">
  <img class="arvados-logo" src="<%= asset_path('logo.png') %>" style="display:block; margin:2em auto" alt="arvados logo"/>
  <div style="width:30em; margin:2em auto 0 auto">
    <h1>Welcome</h1>
    <h4>ARVADOS</h4>

    <% if !current_user and session['invite_code'] %>

    <p>Arvados lets you manage and process biomedical data.</p>
    <p style="float:right;margin-top:1em">
      <button class="login" href="/login">Log in and get started</button>
    </p>

    <% else %>

    <% if !current_user %>
    <p style="float:right;margin-top:1em">
      <a href="/login">Log in here.</a>
    </p>
    <% end %>

    <% end %>

    <div style="clear:both;height:8em"></div>
  </div>
</div>
