.bundle
.rvmrc
*~
*.pyc
*.egg
*.egg-info
.eggs
*.pid
*.pid.lock
*.gem
*.rpm
*.deb
docker/*/generated
docker/config.yml
/doc/.site
/doc/sdk/python/arvados
/doc/sdk/python/arvados.html
/doc/sdk/python/index.html
/doc/sdk/python/search.js
/doc/sdk/R/arvados
/doc/sdk/java-v2/javadoc
/sdk/java/target
*.class
/sdk/java/log/
/sdk/cli/binstubs/
/sdk/ruby/binstubs/
/services/api/binstubs/
/services/login-sync/binstubs/
/services/api/config/arvados-clients.yml
*#*
vendor/
tmp/
.DS_Store/
.vscode
.Rproj.user
_version.py
*.bak
*.log
arvados-snakeoil-ca.pem
.vagrant
/packages/
.eslintcache
