.bundle
.rvmrc
*~
*.pyc
*.egg
*.egg-info
.eggs
*.pid
*.pid.lock
*.gem
*.rpm
*.deb
docker/*/generated
docker/config.yml
/doc/.site
/doc/sdk/python/arvados
/doc/sdk/python/arvados.html
/doc/sdk/python/index.html
/doc/sdk/python/search.js
/doc/sdk/R/arvados
/doc/sdk/java-v2/javadoc
*.class
/sdk/cli/binstubs/
/sdk/ruby/binstubs/
/services/api/binstubs/
/services/login-sync/binstubs/
/services/api/config/arvados-clients.yml
/contrib/arvados-bootstrap/build/
/contrib/arvados-bootstrap/dist/
/sdk/cwl/build/
/sdk/cwl/dist/
/sdk/python/build/
/sdk/python/dist/
/services/dockercleaner/build/
/services/dockercleaner/dist/
/services/fuse/build/
/services/fuse/dist/
/tools/cluster-activity/build/
/tools/cluster-activity/dist/
/tools/crunchstat-summary/build/
/tools/crunchstat-summary/dist/
/tools/user-activity/build/
/tools/user-activity/dist/
*#*
vendor/
tmp/
.DS_Store/
.vscode
.Rproj.user
*.bak
*.log
arvados-snakeoil-ca.pem
.vagrant
/packages/
.eslintcache
