<%
  wf_def = ActiveSupport::HashWithIndifferentAccess.new YAML::load(@object.definition) if @object.definition
  wf_def = wf_def[:"$graph"].andand[0] || wf_def if wf_def

  items = {}
  baseCommand = wf_def.andand["baseCommand"]
  items['baseCommand'] = baseCommand if baseCommand

  args = wf_def.andand["arguments"]
  items['arguments'] = args if args

  hints = wf_def.andand["hints"]
  items['hints'] = hints if hints

  inputs = wf_def.andand["inputs"]
  items['inputs'] = inputs if inputs

  outputs = wf_def.andand["outputs"]
  items['outputs'] = outputs if outputs
%>

  <div class="col-md-12">
    <table class="table table-condensed" style="table-layout:fixed;">
      <col width="15%" />
      <col width="85%" />

      <% items.each do |k, v| %>
          <tr>
            <td valign="top">
              <%= k %>:
            </td>
            <td>
              <% val = JSON.pretty_generate(v) %>
              <%= render partial: 'show_text_with_locators', locals: {data_height: 300, text_data: val} %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
