// NAV LIST
// --------

.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left:  -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  background-color: rgb(66, 139, 202);
}

.spaced-out li {
   padding-bottom: 1em;
}

.inside-list ul {
    list-style-position: inside;
    padding-left: 0;
}