# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: AGPL-3.0

[Unit]
Description=Arvados server
Documentation=https://doc.arvados.org/
After=network.target
AssertPathExists=/etc/arvados/config.yml

# systemd>=230 (debian:9) obeys StartLimitIntervalSec in the [Unit] section
StartLimitIntervalSec=0

[Service]
Type=notify
EnvironmentFile=-/etc/arvados/environment
ExecStart=/usr/bin/arvados-server boot
ExecReload=/usr/bin/arvados-server config-check
ExecReload=kill -HUP $MAINPID
Restart=always
RestartSec=1
LimitNOFILE=65536

# systemd<=219 (centos:7, debian:8, ubuntu:trusty) obeys StartLimitInterval in the [Service] section
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
