### This file is managed by Ansible ###
# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

Package: arvados-* crunch-* keep-* python3-arvados-* keepproxy keepstore libpam-arvados-go python3-crunchstat-summary
Pin: version {{ arvados_pin_version }}{{ '' if arvados_pin_version is search('(-|\\*$)') else '-*' }}
Pin-Priority: 995
