# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

- name: apt update if needed
  ansible.builtin.meta: flush_handlers

- name: Install PostgreSQL server package
  become: yes
  ansible.builtin.apt:
    name:
      - "postgresql"
  when: "arvados_postgresql_version is falsy"

- name: Install PostgreSQL server package from postgresql.org
  become: yes
  ansible.builtin.apt:
    name:
      - "postgresql-{{ arvados_postgresql_version }}"
  when: "arvados_postgresql_version is truthy"

- name: Install psycopg2
  become: yes
  ansible.builtin.apt:
    name:
      - python3-psycopg2

- name: Setup PostgreSQL service
  when: "ansible_virtualization_type != 'docker'"
  ansible.builtin.include_tasks: setup_service.yml
