# Copy this file to application.yml and edit to suit.
#
# Consult application.default.yml for the full list of configuration
# settings.
#
# The order of precedence is:
# 1. config/environments/{RAILS_ENV}.rb (deprecated)
# 2. Section in application.yml corresponding to RAILS_ENV (e.g., development)
# 3. Section in application.yml called "common"
# 4. Section in application.default.yml corresponding to RAILS_ENV
# 5. Section in application.default.yml called "common"

production:
  # Mandatory site configuration.  See application.default.yml and
  # http://http://doc.arvados.org/install/install-api-server.html#configure_application
  # for more information.
  uuid_prefix: ~
  secret_token: ~
  blob_signing_key: ~
  sso_app_secret: ~
  sso_app_id: ~
  sso_provider_url: ~
  workbench_address: ~
  websockets_address: ~
  #git_repositories_dir: ~
  #git_internal_dir: ~

development:
  # Separate settings for development configuration.
  uuid_prefix: ~
  secret_token: ~
  blob_signing_key: ~
  sso_app_id: ~
  sso_app_secret: ~
  sso_provider_url: ~
  workbench_address: ~
  websockets_address: ~
  #git_repositories_dir: ~
  #git_internal_dir: ~

test:
  # Tests should be able to run without further configuration, but if you do
  # want to change your local test configuration, this is where to do it.

common:
  # Settings in this section will be used in all environments
  # (development, production, test) except when overridden in the
  # environment-specific sections above.
