# Copy this file to application.yml and edit to suit.
#
# Consult application.default.yml for the full list of configuration
# settings.
#
# The order of precedence is:
# 1. config/environments/{RAILS_ENV}.rb (deprecated)
# 2. Section in application.yml corresponding to RAILS_ENV (e.g., development)
# 3. Section in application.yml called "common"
# 4. Section in application.default.yml corresponding to RAILS_ENV
# 5. Section in application.default.yml called "common"

development:
  # Mandatory site secrets. See application.default.yml for more info.
  secret_token: ~
  blob_signing_key: ~
  uuid_prefix: bogus
  workbench_address: https://localhost:3031

production:
  # Mandatory site secrets. See application.default.yml for more info.
  secret_token: ~
  blob_signing_key: ~
  uuid_prefix: bogus
  workbench_address: https://workbench.bogus.arvadosapi.com

test:
  # Tests should be able to run without further configuration, but if you do
  # want to change your local test configuration, this is where to do it.

common:
  # Settings in this section will be used in all environments
  # (development, production, test) except when overridden in the
  # environment-specific sections above.
  auto_admin_user: peter.amstutz@curoverse.com
  git_repositories_dir: /home/tetron/work/git
  git_internal_dir: /home/tetron/work/internal.git
  secret_token: 5520a2018819190aa4abe42c0807049cf85504a162570592acc9214f4b14914f2e610a40b58e97c57fb5a8e96ec3a00bcef56c1f747766537e6e5022bb3f3764
  blob_signing_key: 5eef1e322b2bfa28f8adb748c6244a66d4eef0cbb5bb45108d7b364e91faf28a73eede086fb0d3670ce2e7822a8d8149af129ab57f9be4fec98bb0be482ee69a
