development:
  adapter: postgresql
  encoding: utf8
  database: arvados_development
  username: arvados
  password: xxxxxxxx
  host: localhost

test:
  adapter: postgresql
  encoding: utf8
  database: arvados_test
  username: arvados
  password: xxxxxxxx
  host: localhost

production:
  adapter: postgresql
  encoding: utf8
  database: arvados_production
  username: arvados
  password: xxxxxxxx
  host: localhost

