# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.log.gz
/tmp

/config/.secret_token
/config/initializers/secret_token.rb

/public/assets

/config/environments/development.rb
/config/environments/production.rb
/config/application.yml

# Workbench doesn't need one anyway, so this shouldn't come up, but...
/config/database.yml

/config/piwik.yml

# Capistrano files are coming from another repo
/Capfile*
/config/deploy*

# Themes are coming from another repo
/themes/*

# This can be a symlink to ../../../doc/.site in dev setups
/public/doc

# SimpleCov reports
/coverage

# Dev/test SSL certificates
/self-signed.key
/self-signed.pem
