### This file is managed by Ansible ###
{# Copyright (C) The Arvados Authors. All rights reserved.
 #
 # SPDX-License-Identifier: Apache-2.0
 #}
ARVADOS_API_HOST={{ arvados_cluster.Services.Controller | external_addr | quote }}
ARVADOS_API_TOKEN={{ arvados_cluster.SystemRootToken | quote }}
ARVADOS_VIRTUAL_MACHINE_UUID={{ arvados_virtual_machine_uuid | quote }}
{% if arvados_certificates_file is truthy %}
SSL_CERT_FILE=/etc/arvados/ca-certificates.crt
{% endif %}
