<span class="<%=align%>"><a href="#<%= id %>-outputs" data-toggle="collapse">Outputs <span class="caret"></span></a></span>
<div class="row collapse" id="<%= id %>-outputs" >
  <div class="col-md-12">
    <div class="pull-right" style="max-width: 100%">
      <% outputs.each do |out| %>
        <div class="text-overflow-ellipsis">
          <i class="fa fa-fw fa-archive"></i> <%= link_to_if_arvados_object out, friendly_name: true %>
        </div>
      <% end %>
    </div>
  </div>
</div>
