---
layout: default
navsection: userguide
title: "Changing account ownership"
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

It is sometimes necessary to reassign an existing Arvados user account to a new Google account.

Examples:
* A user’s email address has changed from <code>person@old.example.com</code> to <code>person@new.example.com</code>.
* A user who used to authenticate via LDAP is switching to Google login.

This can be done by an administrator using Arvados APIs.

First, determine the user’s existing UUID, e.g., @aaaaa-tpzed-abcdefghijklmno@.

Ensure the new email address is not already associated with a different Arvados account. If it is, disassociate it by clearing that account’s @identity_url@ and @email@ fields.

Clear the @identity_url@ field of the existing user record.

Create a Link object with the following attributes (where @tail_uuid@ is the new email address, and @head_uuid@ is the existing user UUID):

<notextile>
<pre><code>{
  "link_class":"permission",
  "name":"can_login",
  "tail_uuid":"<span class="userinput">person@new.example.com</span>",
  "head_uuid":"<span class="userinput">aaaaa-tpzed-abcdefghijklmno</span>",
  "properties":{
    "identity_url_prefix":"https://www.google.com/"
  }
}
</code></pre>
</notextile>

Have the user log in using their <code>person@new.example.com</code> Google account. You can verify this by checking that the @identity_url@ field has been populated.
