---
layout: default
navsection: admin
title: Cloud dispatcher
...

{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

The @arvados-server@ program provides subcommands for accessing the "cloud dispatcher's management API":{{site.baseurl}}/api/dispatch.html interactively.

h2. List instances

@arvados-server instance list@

Display a list of instances managed by the dispatcher.

A placeholder @-@ in the @instance@ column indicates that an instance has been requested but the cloud provider has not yet returned a response with an instance ID.

A placeholder @-@ in the @address@ column indicates that an instance has been requested but has not yet been assigned an IP address by the cloud provider.

A placeholder @-@ in the @last-container@ column indicates that the instance has not yet run a container.

Use the @-header@ flag to display column names.

<notextile><pre><code># <span class="userinput">arvados-server instance list -header</span>
instance	address	state	idle-behavior	config-type	provider-type	price	last-container
i-03d59cfcfacf307ff	10.253.254.184	running	run	c5large	c5.large	0.085000	tordo-dz642-r6fz90awybvywr6
i-0df614e93e4170ae7	10.253.254.157	booting	run	t3small	t3.small	0.020800	-
</code></pre></notextile>

h2. Drain instances

@arvados-server instance drain <instance-id> [...]@

Set the indicated instances' idle behavior to @drain@ (see "management API":{{site.baseurl}}/api/dispatch.html).

h2. Hold instances

@arvados-server instance hold <instance-id> [...]@

Set the indicated instances' idle behavior to @hold@ (see "management API":{{site.baseurl}}/api/dispatch.html).

h2. Run instances

@arvados-server instance run <instance-id> [...]@

Set the indicated instances' idle behavior to @run@ (see "management API":{{site.baseurl}}/api/dispatch.html).

h2. Kill instances

@arvados-server instance kill <instance-id> [...]@

Shut down the indicated instances immediately, abandoning/failing any containers they are currently running.
