---
layout: default
navsection: admin
title: Management token
...

{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

To enable and collect health checks and metrics, services must be configured with a "management token".

Services must have ManagementToken configured.  This is used to authorize access monitoring endpoints.  If ManagementToken is not configured, monitoring endpoints will return the error @404 disabled@.

To access a monitoring endpoint, the requester must provide the HTTP header @Authorization: Bearer (ManagementToken)@.

h2. API server and other services

The following services also support monitoring.

* API server
* arvados-git-httpd
* controller
* keep-balance
* keepproxy
* keepstore
* keep-web
* arvados-ws 

Set @ManagementToken@ in the appropriate section of @/etc/arvados/config.yml@.

<notextile>
<pre><code>Clusters:
  <span class="userinput">ClusterID</span>:
    # Token to be included in all healthcheck requests. Disabled by default.
    # Server expects request header of the format "Authorization: Bearer xxx"
    ManagementToken: xxx
</code></pre>
</notextile>
