# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: AGPL-3.0

[Unit]
Description=arvados-dispatch-cloud
Documentation=https://doc.arvados.org/
After=network.target
AssertPathExists=/etc/arvados/config.yml
StartLimitIntervalSec=0

[Service]
Type=notify
EnvironmentFile=-/etc/arvados/environment
ExecStart=/usr/bin/arvados-dispatch-cloud $EXTRA_OPTS
Restart=always
RestartSec=1
RestartPreventExitStatus=2

# Before Arvados 3.1, arvados-dispatch-cloud did not try to read the
# configuration at ~/.aws. Now it can, but we disable that functionality
# here to avoid disrupting existing clusters which might have credentials
# for another service there. Administrators who do want to read the
# configuration at ~/.aws can unset these environment variables in an
# override.
Environment=AWS_CONFIG_FILE=/dev/null
Environment=AWS_SHARED_CREDENTIALS_FILE=/dev/null

[Install]
WantedBy=multi-user.target
