# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: AGPL-3.0

[Unit]
Description=Arvados Keep Balance
Documentation=https://doc.arvados.org/
After=network.target
AssertPathExists=/etc/arvados/config.yml
StartLimitIntervalSec=0

[Service]
Type=notify
EnvironmentFile=-/etc/arvados/environment
# GOGC=50 reduces the Go runtime's default 100% garbage collection
# threshold to 50%.  This reduces keep-balance's peak memory usage and
# makes it run a bit slower.  See
# https://dev.arvados.org/issues/23235#note-16.
Environment=GOGC=50
ExecStart=/usr/bin/keep-balance $EXTRA_OPTS
Restart=always
RestartSec=10s
Nice=19
RestartPreventExitStatus=2

[Install]
WantedBy=multi-user.target
