# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: AGPL-3.0

[Unit]
Description=Arvados Keep Balance
Documentation=https://doc.arvados.org/
After=network.target
AssertPathExists=/etc/arvados/config.yml
StartLimitIntervalSec=0

[Service]
Type=notify
EnvironmentFile=-/etc/arvados/environment
ExecStart=/usr/bin/keep-balance
# Set a reasonable default for the open file limit
LimitNOFILE=65536
Restart=always
RestartSec=10s
Nice=19
RestartPreventExitStatus=2

[Install]
WantedBy=multi-user.target
