{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

Ruby 2.7 or newer is required.

h2. Alma/CentOS/Red Hat/Rocky

Version 8 of these distributions provides Ruby 2.7. You can install it by running:

<notextile>
<pre><code># <span class="userinput">dnf module enable ruby:2.7</span>
# <span class="userinput">dnf install --enablerepo=devel ruby ruby-devel</span></code></pre>
</notextile>

h2. Debian and Ubuntu

Debian 11 (bullseye) and Ubuntu 20.04 (focal) and later ship with Ruby 2.7 or newer, which is sufficient for Arvados.

<notextile>
<pre><code># <span class="userinput">apt-get --no-install-recommends install ruby ruby-dev</span></code></pre>
</notextile>
