{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

h2(#docker-cleaner). Update docker-cleaner.json

{% include 'notebox_begin_warning' %}
This is only needed when Containers.RuntimeEngine is set to @docker@, skip this section when running @singularity@.
{% include 'notebox_end' %}

The @arvados-docker-cleaner@ program removes least recently used Docker images as needed to keep disk usage below a configured limit.

Create a file @/etc/arvados/docker-cleaner/docker-cleaner.json@ in an editor, with the following contents.

<notextile>
<pre><code>{
    "Quota": "<span class="userinput">10G</span>",
    "RemoveStoppedContainers": "always"
}
</code></pre>
</notextile>

*Choosing a quota:* Most deployments will want a quota that's at least 10G.  From there, a larger quota can help reduce compute overhead by preventing reloading the same Docker image repeatedly, but will leave less space for other files on the same storage (usually Docker volumes).  Make sure the quota is less than the total space available for Docker images.

{% include 'notebox_begin' %}
This also removes all containers as soon as they exit, as if they were run with @docker run --rm@. If you need to debug or inspect containers after they stop, temporarily stop arvados-docker-cleaner or configure it with @"RemoveStoppedContainers":"never"@.
{% include 'notebox_end' %}
