{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}



<notextile>
<pre><code># <span class="userinput">apt-get --no-install-recommends install gnupg</span>
# <span class="userinput">/usr/bin/apt-key adv --keyserver pgp.mit.edu --recv 1078ECD7</span>
</code></pre>
</notextile>
