{% include 'notebox_begin' %}
The Arvados API and Git servers require Git 1.7.10 or later.  You can get this version on CentOS 6 from RepoForge.  "Install the repository":http://repoforge.org/use/, then run:

<notextile>
<pre><code>~$ <span class="userinput">sudo yum install --enablerepo=rpmforge-extras git</span>
</code></pre>
</notextile>

{% include 'notebox_end' %}
