{% include 'notebox_begin' %}

If you are installing on CentOS 6, you will need to modify PostgreSQL's configuration to allow password authentication for local users. The default configuration allows 'ident' authentication only. The following commands will make the configuration change, and restart PostgreSQL for it to take effect.

<notextile>
<pre><code>~$ <span class="userinput">sudo sed -ri -e 's/^(host +all +all +(127\.0\.0\.1\/32|::1\/128) +)ident$/\1md5/' {{pg_hba_path}}</span>
~$ <span class="userinput">sudo service {{pg_service}} restart</span>
</code></pre>
</notextile>

{% include 'notebox_end' %}
