{% include 'notebox_begin' %}

We need git version 1.7.10 or later. If you are using an earlier version of git, please update git version. For example on Red Hat-based systems:

<notextile>
<pre><code>~$ <span class="userinput">sudo yum install git</span></code></pre>
</notextile>

{% include 'notebox_end' %}
