{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

<notextile>
<pre><code># <span class="userinput">install -d /etc/apt/keyrings</span>
# <span class="userinput">curl -fsSL -o /etc/apt/keyrings/arvados.asc https://apt.arvados.org/pubkey.gpg</span>
</code></pre>
</notextile>
