h2. Configure the Docker cleaner

The arvados-docker-cleaner program removes least recently used Docker images as needed to keep disk usage below a configured limit.

{% include 'notebox_begin' %}
This also removes all containers as soon as they exit, as if they were run with @docker run --rm@. If you need to debug or inspect containers after they stop, temporarily stop arvados-docker-cleaner or configure it with @"RemoveStoppedContainers":"never"@.
{% include 'notebox_end' %}

Create a file @/etc/arvados/docker-cleaner/docker-cleaner.json@ in an editor, with the following contents.

<notextile>
<pre><code>{
    "Quota": "<span class="userinput">10G</span>",
    "RemoveStoppedContainers": "always"
}
</code></pre>
</notextile>

*Choosing a quota:* Most deployments will want a quota that's at least 10G.  From there, a larger quota can help reduce compute overhead by preventing reloading the same Docker image repeatedly, but will leave less space for other files on the same storage (usually Docker volumes).  Make sure the quota is less than the total space available for Docker images.

*On Debian-based systems,* the @arvados-docker-cleaner@ service is enabled automatically when installed. Restart the service after updating the configuration file:

<notextile>
<pre><code>~$ <span class="userinput">sudo systemctl restart arvados-docker-cleaner</span>
</code></pre>
</notextile>

*On Red Hat-based systems,* first install the systemd unit file included in the distribution.

<notextile>
<pre><code>~$ <span class="userinput">sudo cp /usr/share/doc/arvados-docker-cleaner/arvados-docker-cleaner.service /lib/systemd/system/</span>
</code></pre>
</notextile>

{% include 'notebox_begin' %}

If your deployment uses a Python 3 Software Collection, the package files will be installed to a different location, and you must modify the ExecStart line as described in the comments in the unit file.

<notextile>
<pre><code>~$ <span class="userinput">sudo cp /opt/rh/python33/root/usr/share/doc/arvados-docker-cleaner/arvados-docker-cleaner.service /lib/systemd/system/</span>
~$ <span class="userinput">sudo nano /lib/systemd/system/arvados-docker-cleaner.service</span>
</code></pre>
</notextile>

{% include 'notebox_end' %}

Next, use @systemctl@ to enable and start the service.

<notextile>
<pre><code>~$ <span class="userinput">sudo systemctl enable arvados-docker-cleaner</span>
~$ <span class="userinput">sudo systemctl start arvados-docker-cleaner</span>
</code></pre>
</notextile>

*If you are using a different daemon supervisor,* or if you want to test the daemon in a terminal window, run @arvados-docker-cleaner@. Run @arvados-docker-cleaner --help@ for more configuration options.
