{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

{{ header_level|default: 'h3' }}(#install-ansible-pipx). Option 1. Install Ansible with pipx

The pipx tool is packaged in many of our supported distributions. You can install it on Debian/Ubuntu by running:

<notextile>
<pre># <code class="userinput">apt install pipx
</code></pre>
</notextile>

Or install it on Red Hat/AlmaLinux/Rocky Linux by running:

<notextile>
<pre># <code class="userinput">dnf install pipx</code></pre>
</code></pre>
</notextile>

{% include 'notebox_begin' %}
If the pipx package is not found, it is not available for your distribution. Instead "install Ansible with virtualenv and pip":#install-ansible-venv.
{% include 'notebox_end' %}

After pipx is installed, install Ansible by running:

<notextile>
<pre><code>$ <span class="userinput">arvados/tools/ansible/install-ansible.sh</span>
  installed package ansible-core 2.15.13, installed using Python 3.11.2
  These apps are now globally available
    - ansible
    - ansible-config
    - ansible-connection
    - ansible-console
    - ansible-doc
    - ansible-galaxy
    - ansible-inventory
    - ansible-playbook
    - ansible-pull
    - ansible-test
    - ansible-vault
done! ✨ 🌟 ✨

[…]

Ansible successfully installed!
</code></pre>
</notextile>

If this script reports the final success message, skip the next section.

{{ header_level|default: 'h3' }}(#install-ansible-venv). Option 2. Install Ansible in a virtualenv

This method works on all of our supported distributions, but requires you to configure a lot of paths manually. Install Python and virtualenv on Debian/Ubuntu by running:

<notextile>
<pre># <code class="userinput">apt install python3-venv
</code></pre>
</notextile>

Or install it on Red Hat/AlmaLinux/Rocky Linux by running:

<notextile>
<pre># <code class="userinput">dnf install python3
</code></pre>
</notextile>

Next, set up a virtualenv. If you want to install this somewhere other than @~/arvados-ansible@, you may change that path each time it appears.

<notextile>
<pre><code>$ <span class="userinput">arvados/tools/ansible/install-ansible.sh <strong>~/arvados-ansible</strong></span>
Collecting ansible-core~=2.15.13
[…]

Ansible successfully installed!
</code></pre>
</notextile>

Finally, add all the Ansible tools to your executable path. If you keep personal executables somewhere other than @~/.local/bin@, you may change that path.

<notextile>
<pre><code>$ <span class="userinput">ln -st <strong>~/.local/bin ~/arvados-ansible</strong>/bin/ansible*</span>
</code></pre>
</notextile>

Alternatively, you may reconfigure your shell to add <notextile><code><strong>$HOME/arvados-ansible</strong>/bin</code></notextile> to the end of your @$PATH@ variable.
