{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0

packages_to_install should be a list
fallback on arvados_component if not defined
{% endcomment %}

{% if package_to_install == nil %}
  {% assign packages_to_install = arvados_component | split: " " %}
{% endif %}

h2(#install-packages). Install {{packages_to_install | join: " and " }}

h3. Alma/CentOS/Red Hat/Rocky

<notextile>
<pre><code># <span class="userinput">dnf install {{packages_to_install | join: " "}}</span>
</code></pre>
</notextile>

h3. Debian and Ubuntu

<notextile>
<pre><code># <span class="userinput">apt install {{packages_to_install  | join " "}}</span>
</code></pre>
</notextile>
