Currently, only Ruby 2.1 is supported.

h4(#rvm). *Option 1: Install with rvm*

<notextile>
<pre><code><span class="userinput">sudo gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
\curl -sSL https://get.rvm.io | sudo bash -s stable --ruby=2.1
sudo -i gem install bundler
sudo adduser "$USER" rvm
</span></code></pre></notextile>

Either log out and log back in to activate RVM, or explicitly load it in all open shells like this:

<notextile>
<pre><code><span class="userinput">source /usr/local/rvm/scripts/rvm
</span></code></pre></notextile>

h4(#fromsource). *Option 2: Install from source*

Install prerequisites for Debian 7 or 8:

<notextile>
<pre><code><span class="userinput">sudo apt-get install \
    bison build-essential gettext libcurl3 libcurl3-gnutls \
    libcurl4-openssl-dev libpcre3-dev libreadline-dev \
    libssl-dev libxslt1.1 zlib1g-dev
</span></code></pre></notextile>

Install prerequisites for CentOS 6:

<notextile>
<pre><code><span class="userinput">sudo yum install \
    libyaml-devel glibc-headers autoconf gcc-c++ glibc-devel \
    patch readline-devel zlib-devel libffi-devel openssl-devel \
    automake libtool bison sqlite-devel
</span></code></pre></notextile>

Install prerequisites for Ubuntu 12.04 or 14.04:

<notextile>
<pre><code><span class="userinput">sudo apt-get install \
    gawk g++ gcc make libc6-dev libreadline6-dev zlib1g-dev libssl-dev \
    libyaml-dev libsqlite3-dev sqlite3 autoconf libgdbm-dev \
    libncurses5-dev automake libtool bison pkg-config libffi-dev
</span></code></pre></notextile>

Build and install Ruby:

<notextile>
<pre><code><span class="userinput">mkdir -p ~/src
cd ~/src
curl http://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.6.tar.gz | tar xz
cd ruby-2.1.6
./configure --no-install-rdoc
make
sudo make install

sudo gem install bundler</span>
</code></pre></notextile>
