{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

On Debian-based systems:

<notextile>
<pre><code>~$ <span class="userinput">sudo apt-get install runit</span>
</code></pre>
</notextile>

On Red Hat-based systems:

<notextile>
<pre><code>~$ <span class="userinput">sudo yum install runit</span>
</code></pre>
</notextile>
