<notextile>
<pre><code>~$ <span class="userinput">gpg --keyserver pool.sks-keyservers.net --recv-keys 1078ECD7</span>
~$ <span class="userinput">gpg --armor --export 1078ECD7 >/tmp/curoverse.key</span>
~$ <span class="userinput">sudo rpm --import /tmp/curoverse.key</span>
</code></pre>
</notextile>
