{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

{% include 'notebox_begin' %}

{% if rh_version %} On CentOS {{rh_version}} and RHEL {{rh_version}},
{% else %} On CentOS and RHEL,
{% endif %} these packages require a more recent version from Software Collections.  The Software Collection will be installed automatically as long as Software Collections are enabled on your system.

To "enable Software Collections on CentOS":https://wiki.centos.org/AdditionalResources/Repositories/SCL, run:

<notextile>
<pre><code>~$ <span class="userinput">sudo yum install centos-release-scl scl-utils</span>
</code></pre>
</notextile>

To enable Software Collections on RHEL:

<notextile>
<pre><code>~$ <span class="userinput">sudo yum-config-manager --enable rhel-server-rhscl-7-rpms</span>
</code></pre>
</notextile>

"See also section 2.1 of Red Hat's Installation chapter":https://access.redhat.com/documentation/en-US/Red_Hat_Software_Collections/2/html/2.0_Release_Notes/chap-Installation.html .

{% include 'notebox_end' %}
