{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}


You may now proceed to "adding your key to the Arvados Workbench.":#workbench

h1(#workbench). Adding your key to Arvados Workbench

In the Workbench top navigation menu, click on the dropdown menu icon <i class="fa fa-lg fa-user"></i> to access the Account Management menu. Then, click on the menu item *Ssh keys* to go to the *SSH keys* page. Click on the <span class="btn btn-primary">+ ADD NEW SSH KEY</span> button in the upper-right on that page. You will see a popup as shown in this screenshot:

!{width: 100%;}{{ site.baseurl }}/images/ssh-adding-public-key.png!

Paste your _public_ key into the text area labeled *Public Key*, and click on the <span class="btn btn-sm btn-primary">ADD NEW SSH KEY</span> button in lower-right. You are now ready to "log into an Arvados VM":#login.

h1(#login). Using SSH to log into an Arvados VM

To see a list of virtual machines that you have access to, click on the dropdown menu icon <i class="fa fa-lg fa-user"></i> in the upper right corner of the top navigation menu to access the Account Management menu. Then, click on the menu item *Virtual Machines*.

You will then see a page that lists the virtual machines you can access. The *Host name* column lists the name of each available VM.  The *Login name* column lists your login name on that VM.  The *Command line* column provides a sample @ssh@ command.

!{width: 100%;}{{ site.baseurl }}/images/vm-access-with-webshell.png!

At the bottom of the page there may be additional instructions for connecting your specific Arvados instance.  If so, follow your site-specific instructions.  If there are no site-specific instructions, you can probably connect directly with @ssh@.

The following are generic instructions.  In these examples, the login name will be *_you_* and the host domain will be *_ClusterID.example.com_*.  Replace these with your login name and hostname as appropriate.
