{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

h2(#start-service). Start the service

<notextile>
<pre><code># <span class="userinput">systemctl enable --now {{arvados_component}}</span>
# <span class="userinput">systemctl status {{arvados_component}}</span>
[...]
</code></pre>
</notextile>

If @systemctl status@ indicates it is not running, use @journalctl@ to check logs for errors:

<notextile>
<pre><code># <span class="userinput">journalctl --since -5min -u {{ arvados_component | split: ' ' | join: ' -u ' }}</span>
</code></pre>
</notextile>
