---
layout: default
navsection: sdk
navmenu: Python
title: Arvados FUSE driver
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

The Arvados FUSE driver is a Python utility that allows you to see the Keep service as a normal filesystem, so that data can be accessed using standard tools. This driver requires the Python SDK installed in order to access Arvados services.

h2. Installation

If you are logged in to a managed Arvados VM, the @arv-mount@ utility should already be installed.

To use the FUSE driver elsewhere, you can install from a distribution package, or PyPI.

h2. Option 1: Install from distribution packages

First, "add the appropriate package repository for your distribution":{{ site.baseurl }}/install/packages.html

{% assign arvados_component = 'python-arvados-fuse' %}

{% include 'install_packages' %}

h2. Option 2: Install with pip

Run @pip install arvados_fuse@ in an appropriate installation environment, such as a virtualenv.

Note:

The FUSE driver uses @pycurl@ which depends on the @libcurl@ C library.  To build the module you may have to first install additional packages.  On Debian-based distributions you can install them by running:

<notextile>
<pre><code># <span class="userinput">apt install git build-essential python3-dev libcurl4-openssl-dev libssl-dev</span>
</code></pre>
</notextile>

<pre>
$ apt-get install git build-essential python3-dev libcurl4-openssl-dev libssl-dev python3-llfuse
</pre>

h3. Usage

Please refer to the "Accessing Keep from GNU/Linux":{{site.baseurl}}/user/tutorials/tutorial-keep-mount-gnu-linux.html tutorial for more information.
