<% @collections.each do |c| %>

<tr class="collection">
  <td>
    <%= link_to_if_arvados_object c.uuid %>
  </td><td>
    <% c.files.each do |file| %>
      <%= file[0] == '.' ? file[1] : "#{file[0]}/#{file[1]}" %>
    <% end %>
  </td><td>
    <%= raw(distance_of_time_in_words(c.created_at, Time.now).sub('about ','~').sub(' ','&nbsp;')) if c.created_at %>
  </td><td>
    <% if @collection_info[c.uuid] %>
      <%= @collection_info[c.uuid][:tags].uniq.join ', ' %>
    <% end %>
  </td><td>
    <% if @collection_info[c.uuid][:wanted_by_me] %>
      <span class="label label-info">2&times;</span>
    <% elsif @collection_info[c.uuid][:wanted] %>
      <span class="label">2&times;</span>
    <% else %>
      <span class="label">cache</span>
    <% end %>
  </td>
</tr>

<% end %>
