<div class="pull-right">
  <%= form_tag collections_path, method: 'get', remote: true, class: 'form-search' do %>
  <div class="input-append">
    <%= text_field_tag :search, params[:search], class: 'search-query' %>
    <%= submit_tag "Search", name: nil, class: 'btn btn-info' %>
  </div>  
  <% end %>
</div>

<table id="collections-index" class="topalign table table-bordered table-condensed table-fixedlayout table-smallcontent">
  <colgroup>
    <col width="10%" />
    <col width="50%" />
    <col width="16%" />
    <col width="16%" />
    <col width="8%" />
  </colgroup>
  <thead>
    <tr class="contain-align-left">
      <th>
	uuid
      </th><th>
	contents
      </th><th>
	age
      </th><th>
	tags
      </th><th>
	storage
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'index_tbody' %>
  </tbody>
</table>

<% content_for :js do %>
$(document).on('click', 'form[data-remote] input[type=submit]', function() {
  $('table#collections-index tbody').fadeTo(200, 0.3);
  return true;
});
<% end %>
