<% button_attrs = {
     class: 'btn btn-xs btn-info',
     remote: true,
     method: :post,
   } %>
<% if @search_sharing.nil? %>
  <%# API token can't manage other tokens.  Disable this feature. %>
<% elsif @search_sharing.empty? %>
  <%= button_to("Create sharing link", {action: "share"}, button_attrs) %>
<% else %>
  <div>
    <% button_attrs[:class] += " pull-right" %>
    <%= button_to("Unshare", {action: "unshare"}, button_attrs) %>
    Shared at:
    <div class="smaller-text" style="clear: both; word-break: break-all"><%= link_to download_link, download_link %></div>
  </div>
<% end %>
