<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

  <div class="collection-tags-container" style="padding-left:2em;padding-right:2em;">
    <div data-mount-mithril="TagEditorApp"></div>
  </div>
 