<table class="table table-bordered table-striped">
  <thead>
    <tr class="contain-align-left">
      <th>
	collection
      </th><th class="data-size">
	data size
      </th><th>
	storage
      </th><th>
	origin
      </th>
    </tr>
  </thead>
  <tbody>

    <% @sourcedata.values.each do |sourcedata| %>

    <tr class="collection">
      <td>
	<tt class="label"><%= sourcedata[:uuid] %></tt>
      </td><td class="data-size">
	<%= raw(human_readable_bytes_html(sourcedata[:collection].data_size)) if sourcedata[:collection] and sourcedata[:collection].data_size %>
      </td><td>
	<% if @protected[sourcedata[:uuid]] %>
	<span class="label label-success">keep</span>
	<% else %>
	<span class="label label-danger">cache</span>
	<% end %>
      </td><td>
	<% if sourcedata[:data_origins] %>
	<% sourcedata[:data_origins].each do |data_origin| %>
	<span class="deemphasize"><%= data_origin[0] %></span>
	<%= data_origin[2] %>
	<br />
	<% end %>
	<% end %>
      </td>
    </tr>

    <% end %>

  </tbody>
</table>
