<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

  <div class="arv-log-refresh-control"
    data-load-throttle="86486400000" <%# 1001 nights (in milliseconds) %>
    ></div>

  <div class="collection-tags-container" style="padding-left:2em;padding-right:2em;">
    <div data-mount-mithril="TagEditorApp" data-target-controller="<%= controller_name %>" data-target-uuid="<%= @object.uuid %>" data-target-editable="<%= @object.editable? %>"></div>
  </div>
 