<%
  object = @object unless object
%>

  <div class="collection-tags-container" style="padding-left:2em;padding-right:2em;">
    <% if object.editable? %>
      <p title="Edit tags" id="edit-collection-tags">
        <button type="button" class="btn btn-primary edit-collection-tags">Edit</button>
      </p>
    <% end %>

    <table class="table table-condensed table-fixedlayout collection-tags-table" border="1">
      <colgroup>
        <col width="5%" />
        <col width="25%" />
        <col width="70%" />
      </colgroup>

      <thead>
        <tr>
          <th></th>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>

      <tbody class="collection-tag-rows">
        <%= render partial: 'show_tag_rows', locals: {object: object} %>
      </tbody>
    </table>
    <div>
      <% if object.editable? %>
        <div class="pull-left">
          <button class="btn btn-primary btn-sm collection-tag-add hide"><i class="glyphicon glyphicon-plus"></i> Add new tag </button>
        </div>
        <div class="pull-right">
          <%= link_to(save_tags_collection_path, {class: 'btn btn-primary collection-tag-save hide', :remote => true, method: 'post', return_to: request.url}) do %>
            Save
          <% end %>
          <button type="button" class="btn btn-sm btn-primary collection-tag-cancel hide">Cancel</button>
        </div>

        <div><div class="collection-tags-status"/></div></div>
      <% end %>
    </div>
  </div>
