<div class="btn-group btn-group-xs toggle-persist fill" data-toggle="buttons" data-remote-href="<%= set_persistent_collection_path(id: uuid) %>" data-persistent-state="<%= current_state %>">
  <label class="btn btn-info <%= 'active' if current_state=='persistent' %>">
    <input type="radio" name="wants" value="persistent">Persistent
  </label>
  <label class="btn btn-info <%= 'active' if current_state=='cache' %>">
    <input type="radio" name="wants" value="cache">Cache
  </label>
</div>
