<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<%= render partial: "add_repository_modal" %>

<div class="container" style="width: 100%">
  <div class="row">
    <div class="col-md-pull-9 pull-left">
      <p>
        When you are using an Arvados virtual machine, you should clone the https:// URLs. This will authenticate automatically using your API token.
      </p>
      <p>
        In order to clone git repositories using SSH, <%= link_to ssh_keys_user_path(current_user) do%> add an SSH key to your account<%end%> and clone the git@ URLs.
      </p>
    </div>
    <div class="col-md-pull-3 pull-right">
      <%= link_to raw('<i class="fa fa-plus"></i> Add new repository'), "#",
                      {class: 'btn btn-xs btn-primary', 'data-toggle' => "modal",
                       'data-target' => '#add-repository-modal'}  %>
    </div>
  </div>

  <div>
    <table class="table table-condensed table-fixedlayout repositories-table">
      <colgroup>
        <col style="width: 10%" />
        <col style="width: 30%" />
        <col style="width: 55%" />
        <col style="width: 5%" />
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th> Name </th>
          <th> URL </th>
          <th></th>
        </tr>
      </thead>

      <tbody data-infinite-scroller="#repositories-rows" id="repositories-rows"
        data-infinite-content-href="<%= url_for partial: :repositories_rows %>" >
      </tbody>
    </table>
  </div>
</div>
