[Unit]
Description=Arvados Docker Image Cleaner
Documentation=https://doc.arvados.org/
After=network.target
AssertPathExists=/etc/arvados/docker-cleaner/docker-cleaner.json

[Service]
Type=simple
Restart=always
RestartSec=10s
RestartPreventExitStatus=2
ExecStart=/bin/sh -c 'if [ -e /opt/rh/python33/root/bin/arvados-docker-cleaner ]; then exec scl enable python33 arvados-docker-cleaner; else exec arvados-docker-cleaner; fi'

[Install]
WantedBy=multi-user.target
