[Unit]
Description=Arvados Keep Storage Daemon
Documentation=https://doc.arvados.org/
After=network.target
AssertPathExists=/etc/arvados/keepstore/keepstore.yml

[Service]
Type=notify
ExecStart=/usr/bin/keepstore
Restart=always

[Install]
WantedBy=multi-user.target
