---
layout: default
navsection: userguide
title: Working with your Arvados Git Repository
...

Working with your Arvados git repository is analogous to working with your other public repositories. If you are already familiar with git, feel free to skip this part of the documentation.

This tutorial describes how to work with your new Arvados git repository. It will show you how to upload custom scripts to a remote Arvados repository, so you can use it in Arvados pipelines.

{% include 'tutorial_git_repo_expectations' %}

First, clone your remote repository into a new local directory. Note, a new directory named tutorial will be created, and this will act as your local git repository.

<notextile>
<pre><code>~$ <span class="userinput">git clone git@git.qr1hi.arvadosapi.com:$USER/tutorial.git</span>
</code></pre>
</notextile>

You may get the following warning:

<pre>warning: You appear to have cloned an empty repository.</pre>

Do not worry about this, cloning an empty repository is not a problem.

Next, lets create a new branch for you to work in. 

<notextile>
<pre><code>~$ <span class="userinput">git checkout -b tutorial_branch</span>
</code></pre>
</notextile>

Next, lets create a new file in your local repository.

<notextile>
<pre><code>~$ <span class="userinput">cd tutorial</span>
~$ <span class="userinput">echo 'hello world' > tutorial.txt</span>
</code></pre>
</notextile>

Next, add your file to the git index.

<notextile>
<pre><code>~$ <span class="userinput">git add tutorial.txt</span>
</code></pre>
</notextile>

Next, commit all the changes to your repository, along with a message of what you've accomplished.

<notextile>
<pre><code>~$ <span class="userinput">git commit -a -m "Added tutorial.txt"</span>
</code></pre>
</notextile>

Next, push the changes in your local repository to the remote repository.

<notextile>
<pre><code>~$ <span class="userinput">git push origin tutorial_branch</span>
</code></pre>
</notextile>

Now you're ready to use this script as part of an Arvados job!
