---
layout: default
navsection: userguide
navmenu: Tutorials
title: "Running external programs"

...

h1. Running external programs

This tutorial demonstrates how to use Crunch to run an external program by writting a wrapper using the Python SDK.

*This tutorial assumes that you are "logged into an Arvados VM instance":{{site.baseurl}}/user/getting_started/ssh-access.html#login, and have a "working environment.":{{site.baseurl}}/user/getting_started/check-environment.html*

In this tutorial, you will use the external program @md5sum@ to compute hashes instead of the built-in Python library used in earlier tutorials.

Start by entering the @crunch_scripts@ directory of your git repository:

<notextile>
<pre><code>~$ <span class="userinput">cd <b>you</b>/crunch_scripts</span>
</code></pre>
</notextile>

Next, using @nano@ or your favorite Unix text editor, create a new file called @run-md5sum.py@ in the @crunch_scripts@ directory.  

notextile. <pre>~/<b>you</b>/crunch_scripts$ <code class="userinput">nano run-md5sum.py</code></pre>

Add the following code to use the @md5sum@ program to compute the hash of each file in a collection:

<pre><code class="userinput">{% include 'run_md5sum_py' %}</code></pre>

Make the file executable:

notextile. <pre><code>~/<b>you</b>/crunch_scripts$ <span class="userinput">chmod +x run-md5sum.py</span></code></pre>

Next, add the file to @git@ staging, commit and push:

<notextile>
<pre><code>~/<b>you</b>/crunch_scripts$ <span class="userinput">git add run-md5sum.py</span>
~/<b>you</b>/crunch_scripts$ <span class="userinput">git commit -m"run external md5sum program"</span>
~/<b>you</b>/crunch_scripts$ <span class="userinput">git push origin master</span>
</code></pre>
</notextile>

You should now be able to run your new script using Crunch, with "script" referring to our new "run-md5sum.py" script.

<notextile>
<pre><code>~/<b>you</b>/crunch_scripts$ <span class="userinput">cat &gt;~/the_job &lt;&lt;EOF
{
 "script": "run-md5sum.py",
 "script_version": "you:master",
 "script_parameters":
 {
  "input": "c1bad4b39ca5a924e481008009d94e32+210"
 }
}
EOF</span>
~/<b>you</b>/crunch_scripts$ <span class="userinput">arv job create --job "$(cat the_job)"</span>
{
 ...
 "uuid":"qr1hi-xxxxx-xxxxxxxxxxxxxxx"
 ...
}
~/<b>you</b>/crunch_scripts$ <span class="userinput">arv job get --uuid qr1hi-xxxxx-xxxxxxxxxxxxxxx</span>
{
 ...
 "output":"4d164b1658c261b9afc6b479130016a3+54",
 ...
}
</code></pre>
</notextile>
