---
layout: default
navsection: userguide
title: "Using Crunch to run external programs"
...

This tutorial demonstrates how to use Crunch to run an external program by writting a wrapper using the Python SDK.

*This tutorial assumes that you are "logged into an Arvados VM instance":{{site.baseurl}}/user/getting_started/ssh-access.html#login, and have a "working environment.":{{site.baseurl}}/user/getting_started/check-environment.html*

In this tutorial, you will use the external program @md5sum@ to compute hashes instead of the built-in Python library used in earlier tutorials.

Start by entering the @crunch_scripts@ directory of your git repository:

<notextile>
<pre><code>~$ <span class="userinput">cd <b>you</b>/crunch_scripts</span>
</code></pre>
</notextile>

Next, using @nano@ or your favorite Unix text editor, create a new file called @run-md5sum.py@ in the @crunch_scripts@ directory.  

notextile. <pre>~/<b>you</b>/crunch_scripts$ <code class="userinput">nano run-md5sum.py</code></pre>

Add the following code to use the @md5sum@ program to compute the hash of each file in a collection:

<notextile> {% code 'run_md5sum_py' as python %} </notextile>

Make the file executable:

notextile. <pre><code>~/<b>you</b>/crunch_scripts$ <span class="userinput">chmod +x run-md5sum.py</span></code></pre>

Next, add the file to @git@ staging, commit and push:

<notextile>
<pre><code>~/<b>you</b>/crunch_scripts$ <span class="userinput">git add run-md5sum.py</span>
~/<b>you</b>/crunch_scripts$ <span class="userinput">git commit -m"run external md5sum program"</span>
~/<b>you</b>/crunch_scripts$ <span class="userinput">git push origin master</span>
</code></pre>
</notextile>

You should now be able to run your new script using Crunch, with "script" referring to our new "run-md5sum.py" script.

<notextile>
<pre><code>$ <span class="userinput">cat &gt;the_pipeline &lt;&lt;EOF
{
  "name":"Run external md5sum program",
  "components":{
    "do_hash":{
      "script":"run-md5sum.py",
      "script_parameters":{
        "input":{
          "required": true,
          "dataclass": "Collection"
        }
      },
      "script_version":"you:master"
    }
  }
}
EOF
</span></code></pre>
</notextile>

<notextile>
<pre><code>$ <span class="userinput">arv pipeline_template create --pipeline-template "$(cat the_pipeline)"</span>
</code></pre>
</notextile>

Your new pipeline template will appear on the "Workbench %(rarr)&rarr;% Compute %(rarr)&rarr;% Pipeline&nbsp;templates":http://{{ site.arvados_workbench_host }}/pipeline_instances page.  You can run the "pipeline using workbench":tutorial-pipeline-workbench.html
