---
layout: default
navsection: userguide
title: "Writing a multi-step pipeline"
...

A pipeline in Arvados is a collection of crunch scripts, in which the output from one script may be used as the input to another script.

{% include 'tutorial_expectations' %}


First, use @arv create pipeline_template@ to create a new empty template. This will open the template record in an interactive text editor (as specified by $EDITOR or $VISUAL, otherwise defaults to @nano@).

<notextile>
<pre><code>~$ <span class="userinput">arv create pipeline_template</span>
</code></pre>
</notextile>

Replace the empty fields with the following content:

<notextile>{% code 'tutorial_bwa_pipeline' as javascript %}</notextile>

Your new pipeline template will appear on the Workbench "Pipeline&nbsp;templates":https://{{ site.arvados_workbench_host }}/pipeline_templates page.

For more information and examples for writing pipelines, see the "pipeline template reference":{{site.baseurl}}/api/schema/PipelineTemplate.html
