---
layout: default
navsection: userguide
title: "Running a pipeline using Workbench"
...

notextile. <div class="spaced-out">

# If you have not yet created any projects, first create a new project to save your work. Please see "Accessing Arvados Workbench":{{site.baseurl}}/user/getting_started/workbench.html page for details. If you already have created a project for your work, go to the project by clicking on the project in *My projects* panel.
# Click on the <span class="btn btn-primary glyphicon-plus"> Add data...</span> button.
# In the *Add data to project* popup window, enter *tutorial* in the search box.
# The results should include a *tutorial* collection. 
# Click on this collection and verify that it is the collection *var-GS000016015-ASM.tsv.bz2*.
# Click on the <span class="btn btn-primary"> Add </span> button in the popup.  This adds the *var-GS000016015-ASM.tsv.bz2* collection to your project.
# Click on the <span class="btn btn-primary glyphicon-gear"> Run a pipeline... </span> button
# In the *Choose a pipeline to run* popup window, enter *tutorial* in the search box.
# The result should include *Tutorial pipeline* template.
# Click on this template and the click on <span class="btn btn-primary"> Next: choose inputs </span> button. This will take you to a new page to configure the pipeline instance.
# In the *Inputs* tab, click on <span class="btn btn-primary"> Choose </span> button
# In the *Choose a dataset* popup, click on the *tutorial* collection and click on <span class="btn btn-primary"> OK </span> button.
# You can now run this pipeline by clicking on the <span class="btn btn-primary"> Run </span> button.
# The page refreshes automatically every 15 seconds.  You should see the pipeline running, and then finish successfully.
# Once the pipeline is finished, click on the *Show output files* button. This will take you to the collection page for the output of this pipeline.
# Click on *md5sum.txt* to see the actual file that is the output of this pipeline.
# Go back to the collection page for the result.  Click on the *Provenance graph* tab to see a graph illustrating the collections and scripts that were used to generate this file.

notextile. </div>

