---
layout: default
navsection: installguide
title: Installation options
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

{% include 'notebox_begin' %}
This section is about installing an Arvados cluster.  If you are just looking to install Arvados client tools and libraries, "go to the SDK section.":{{site.baseurl}}/sdk/
{% include 'notebox_end' %}

Arvados components run on supported GNU/Linux distributions. The Arvados elastic compute management layer supports Amazon Web Services (AWS) and Microsoft Azure cloud platforms as well as on-premises installs using SLURM and IBM Spectrum LSF.  The Arvados storage layer supports filesystem storage (including NFS, such as IBM GPFS), Azure blob storage, Amazon S3, and systems that offer an S3-compatible API such as Ceph Object Gateway and NetApp StorageGRID.

"Arvados is Free Software":{{site.baseurl}}/user/copying/copying.html and self-install installations are not limited in any way.  Commercial support and development are also available from "Curii Corporation.":https://www.curii.com/

Arvados components can be installed and configured in a number of different ways.

<div class="offset1">
table(table table-bordered table-condensed).
||_. Setup difficulty|_. Arvados Evaluation|_. Workflow Development|_. Production at Scale|
|"Arvados-in-a-box":arvbox.html (arvbox)|Easy|yes|limited|no|
|"Arados Installer":salt-single-host.html (single host)|Easy|yes|limited|no|
|"Arados Installer":salt-multi-host.html (multi host)|Moderate|yes|yes|yes|
|"Manual installation":install-manual-prerequisites.html|Difficult|yes|yes|yes|
|"Cluster Operation Subscription supported by Curii":https://curii.com|N/A ^1^|yes|yes|yes|
</div>

^1^ No user installation necessary.  Curii engineers will install and configure Arvados in your own infrastructure.
