---
layout: default
navsection: installguide
title: Install Git server
...

This installation guide assumes you are on a 64 bit Debian or Ubuntu system.

The arv-git-httpd server provides HTTP access to hosted git repositories, using Arvados authentication tokens instead of passwords. It is intended to be installed on the system where your git repositories are stored, and accessed through a web proxy that provides SSL support.

By convention, we use the following hostname for the git service:

<div class="offset1">
table(table table-bordered table-condensed).
|git.@uuid_prefix@.your.domain|
</div>

This hostname should resolve from anywhere on the internet.

h2. Install arv-git-httpd

First add the Arvados apt repository, and then install the arv-git-httpd package.

<notextile>
<pre><code>~$ <span class="userinput">echo "deb http://apt.arvados.org/ wheezy main" | sudo tee /etc/apt/sources.list.d/apt.arvados.org.list</span>
~$ <span class="userinput">sudo /usr/bin/apt-key adv --keyserver pool.sks-keyservers.net --recv 1078ECD7</span>
~$ <span class="userinput">sudo /usr/bin/apt-get update</span>
~$ <span class="userinput">sudo /usr/bin/apt-get install arv-git-httpd</span>
</code></pre>
</notextile>

Verify that @arv-git-httpd@ and @git-http-backend@ are functional:

<notextile>
<pre><code>~$ <span class="userinput">arv-git-httpd -h</span>
Usage of arv-git-httpd:
  -address="0.0.0.0:80": Address to listen on, "host:port".
  -git-command="/usr/bin/git": Path to git executable. Each authenticated request will execute this program with a single argument, "http-backend".
  -repo-root="/path/to/cwd": Path to git repositories.
~$ <span class="userinput">git http-backend</span>
Status: 500 Internal Server Error
Expires: Fri, 01 Jan 1980 00:00:00 GMT
Pragma: no-cache
Cache-Control: no-cache, max-age=0, must-revalidate

fatal: No REQUEST_METHOD from server
</code></pre>
</notextile>

We recommend running @arv-git-httpd@ under "runit":https://packages.debian.org/search?keywords=runit or something similar.

Your @run@ script should look something like this:

<notextile>
<pre><code>export ARVADOS_API_HOST=<span class="userinput">uuid_prefix</span>.your.domain
exec sudo -u git arv-git-httpd -address=:9001 -git-command="$(which git)" -repo-root=<span class="userinput">/var/lib/arvados/git</span> 2>&1
</code></pre>
</notextile>

h3. Set up a reverse proxy with SSL support

The arv-git-httpd service will be accessible from anywhere on the internet, so we recommend using SSL for transport encryption.

This is best achieved by putting a reverse proxy with SSL support in front of arv-git-httpd, running on port 443 and passing requests to arv-git-httpd on port 9001 (or whatever port you chose in your run script).

h3. Tell the API server about the arv-git-httpd service

In your API server's config/application.yml file, add the following entry:

<notextile>
<pre><code>git_http_base: git.<span class="userinput">uuid_prefix</span>.your.domain
</code></pre>
</notextile>
