---
layout: default
navsection: installguide
title: Install the Arvados workbench application
...

h2. Prerequisites

# A GNU/linux (virtual) machine (can be shared with the API server)
# A hostname for your workbench application

h2. Download the source tree

Please follow the instructions on the "Download page":https://arvados.org/projects/arvados/wiki/Download in the wiki.

The workbench application is in @arvados/apps/workbench@.

h2. Configure the Workbench application

You need to update @config/initializers/secret_token.rb@. Generate a new secret:

<notextile>
<pre><code>~/arvados/apps/workbench$ <span class="userinput">rake secret</span>
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</code></pre>
</notextile>

and put it in @config/initializers/secret_token.rb@

<notextile><pre><code>~/arvados/apps/workbench$ <span class="userinput">    Server::Application.config.secret_token = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
</span></code></pre>
</notextile>

Adjust the following fields in your @environments/production.rb@ file.

* @config.site_name@ can be the URL of your workbench install.
* @config.arvados_login_base@ and @config.arvados_v1_base@ should point to your "API server":install-api-server.html 
* If you choose not to use https, make sure to also set @config.force_ssl = false@ in the API server's @production.rb@ file.

Copy @config/piwik.yml.example@ to @config/piwik.yml@ and edit to suit.

h3. Apache/Passenger (optional)

Set up Apache and Passenger. Point them to the apps/workbench directory in the source tree.

h2. Trusted client setting

Log in to Workbench once (this ensures that the Arvados API server has a record of the Workbench client).

In the API server project root, start the rails console.  Locate the ApiClient record for your Workbench installation, then set the `is_trusted` flag for the appropriate client record:

<notextile><pre><code>~/arvados/services/api$ <span class="userinput">RAILS_ENV=development bundle exec rails console</span>
irb(main):001:0&gt; <span class="userinput">ApiClient.where('url_prefix like ?', '%workbench%')</span>
=&gt; {:id => 1234}
irb(main):002:0&gt; <span class="userinput">ApiClient.find(1234).update_attributes is_trusted: true</span>
</code></pre>
</notextile>


