---
layout: default
navsection: installguide
title: Install Node Manager
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

Arvados Node Manager provides elastic computing for Arvados and SLURM by creating and destroying virtual machines on demand.  Node Manager currently supports Amazon Web Services (AWS), Google Cloud Platform (GCP) and Microsoft Azure.

Note: node manager is only required for elastic computing cloud environments.  Fixed size clusters do not require node manager.

h2. Install

Node manager may run anywhere, however it must be able to communicate with the cloud provider's APIs, and use the command line tools @sinfo@, @squeue@ and @scontrol@ to communicate with the cluster's SLURM controller.

On Debian-based systems:

<notextile>
<pre><code>~$ <span class="userinput">sudo apt-get install arvados-node-manager</span>
</code></pre>
</notextile>

On Red Hat-based systems:

<notextile>
<pre><code>~$ <span class="userinput">sudo yum install arvados-node-manager</span>
</code></pre>
</notextile>

h2. Create compute image

Configure a virtual machine following the "instructions to set up a compute node.":{{site.baseurl}}/install/crunch2-slurm/install-compute-node.html and set it up to run a "ping script":{{site.baseurl}}/install/install-compute-ping.html at boot.

Create a virtual machine image using the commands provided by your cloud provider.  We recommend using a tool such as "Packer":https://www.packer.io/ to automate this process.

Configure node manager to use the image with the @image@ or @image_id@ parameter.

h2. Configure node manager

The configuration file at @/etc/arvados-node-manager/config.ini@ .  Some configuration details are specific to the cloud provider you are using:

* "Amazon Web Services":#aws
* "Google Cloud Platform":#gcp
* "Microsoft Azure":#azure

h3(#aws). Amazon Web Services

<pre>
{% include 'nodemanager_ec2_example_cfg' %}
</pre>

h3(#gcp). Google Cloud Platform

<pre>
{% include 'nodemanager_gce_example_cfg' %}
</pre>

h3(#azure). Microsoft Azure

<pre>
{% include 'nodemanager_azure_example_cfg' %}
</pre>

h2. Running

<pre>
$ arvados-node-manager --config /etc/arvados-node-manager/config.ini
</pre>
