---
layout: default
navsection: installguide
title: Install download server
...

This installation guide assumes you are on a 64 bit Debian or Ubuntu system.

The keep-web server provides read-only HTTP access to files stored in Keep. It serves public data to anonymous and unauthenticated clients, and accepts authentication via Arvados tokens. It can be installed anywhere with access to Keep services, typically behind a web proxy that provides SSL support.

By convention, we use the following hostname for the download service:

<div class="offset1">
table(table table-bordered table-condensed).
|dl.@uuid_prefix@.your.domain|
</div>

This hostname should resolve from anywhere on the internet.

h2. Install keep-web

First add the Arvados apt repository, and then install the keep-web package.

<notextile>
<pre><code>~$ <span class="userinput">echo "deb http://apt.arvados.org/ wheezy main" | sudo tee /etc/apt/sources.list.d/apt.arvados.org.list</span>
~$ <span class="userinput">sudo /usr/bin/apt-key adv --keyserver pool.sks-keyservers.net --recv 1078ECD7</span>
~$ <span class="userinput">sudo /usr/bin/apt-get update</span>
~$ <span class="userinput">sudo /usr/bin/apt-get install keep-web</span>
</code></pre>
</notextile>

Verify that @keep-web@ is functional:

<notextile>
<pre><code>~$ <span class="userinput">keep-web -h</span>
Usage of keep-web:
  -address="0.0.0.0:80": Address to listen on, "host:port".
</code></pre>
</notextile>

We recommend running @arv-git-httpd@ under "runit":https://packages.debian.org/search?keywords=runit or something similar.

Your @run@ script should look something like this:

<notextile>
<pre><code>export ARVADOS_API_HOST=<span class="userinput">uuid_prefix</span>.your.domain
exec sudo -u nobody keep-web -address=:9002 2&gt;&1
</code></pre>
</notextile>

h3. Set up a reverse proxy with SSL support

The keep-web service will be accessible from anywhere on the internet, so we recommend using SSL for transport encryption.

This is best achieved by putting a reverse proxy with SSL support in front of keep-web, running on port 443 and passing requests to keep-web on port 9002 (or whatever port you chose in your run script).

h3. Tell the API server about the keep-web service

In your API server's config/application.yml file, add the following entry:

<notextile>
<pre><code>keep-web: dl.<span class="userinput">uuid_prefix</span>.your.domain
</code></pre>
</notextile>
