---
layout: default
navsection: installguide
title: Overview
...

The manual installation guide will walk you through setting up a basic Arvados cluster on a number of (virtual) GNU/Linux systems.

<div class="alert alert-block alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Note</h4>
  <p>If you are looking to evaluate Arvados on one machine, we recommend the "Docker installation method":install-docker.html instead.</p>
</div>

h2. Manual installation

# "Install the Arvados REST API server":install-api-server.html
# "Create standard objects":create-standard-objects.html
# "Install the Single Sign On (SSO) server":install-sso.html
# "Install the Arvados websockets server":install-websockets-server.html
# "Install the Arvados workbench application":install-workbench-app.html
# "Install Keepstore":install-keep.html
# "Install Keepproxy":install-keepproxy.html
# "Install the Crunch dispatcher":install-crunch-dispatch.html
# "Install a shell server":install-shell-server.html
# "Install a compute node":install-compute-node.html
# Install client libraries (see "SDK Reference":{{site.baseurl}}/sdk/index.html).
