---
layout: default
navsection: installguide
title: Install a shell server
...

There is nothing inherently special about an Arvados shell server. It is just a GNU/Linux machine with Arvados utilites and SDKs installed. For optimal performance, the Arvados shell server should be on the same LAN as the Arvados cluster, but that is not required.

h2. Install API tokens

Please follow the "API token guide":{{site.baseurl}}/user/reference/api-tokens.html to get API tokens for your user and install them on your shell server. We will use those tokens to test the SDKs as we install them.

h2. Install the Ruby SDK and utilities

If you're using RVM:

<notextile>
<pre><code>~$ <span class="userinput">sudo rvm-exec gem install arvados-cli</span>
</code></pre>
</notextile>

If you're not using RVM:

<notextile>
<pre><code>~$ <span class="userinput">sudo gem install arvados-cli</span>
</code></pre>
</notextile>

h2. Install the Python SDK and utilities

On Debian-based systems:

<notextile>
<pre><code>~$ <span class="userinput">sudo apt-get install python-arvados-python-client python-arvados-fuse</span>
</code></pre>
</notextile>

On Red Hat-based systems:

<notextile>
<pre><code>~$ <span class="userinput">sudo yum install python27-python-arvados-python-client python27-python-arvados-fuse</span>
</code></pre>
</notextile>

{% include 'note_python27_sc' %}

h2. Update Git Config

Configure git to use the ARVADOS_API_TOKEN environment variable to authenticate to arv-git-httpd.

Execute the following commands to setup the needed configuration.

<notextile>
<pre>
<code>~$ <span class="userinput">git config 'credential.https://git.{{ site.arvados_api_host }}/.username' none</span></code>
<code>~$ <span class="userinput">git config 'credential.https://git.{{ site.arvados_api_host }}/.helper' '!cred(){ cat >/dev/null; if [ "$1" = get ]; then echo password=$ARVADOS_API_TOKEN; fi; };cred'</span></code>
</pre>
</notextile>
