---
layout: default
navsection: installguide
title: Prerequisites
...

h2. Hardware (or virtual machines)

This guide assumes you have seven systems available in the same network subnet:

<div class="offset1">
table(table table-bordered table-condensed).
|_Function_|_Number of nodes_|
|Arvados API, Crunch dispatcher, Git, Websockets and Workbench|1|
|Arvados Compute node|1|
|Arvados Keepproxy server|1|
|Arvados Keepstore servers|2|
|Arvados Shell server|1|
|Arvados SSO server|1|
</div>

The number of Keepstore, shell and compute nodes listed above is a minimum. In a real production installation, you will likely run many more of each of those types of nodes. In such a scenario, you would probably also want to dedicate a node to the Workbench server and Crunch dispatcher, respectively. For performance reasons, you may want to run the database server on a separate node as well.

h2(#repos). Arvados package repositories

On any host where you install Arvados software, you'll need to set up an Arvados package repository.  They're available for several popular distributions.

h3. CentOS

Packages are available for CentOS 6.  First, register the Curoverse signing key in RPM's database:

{% include 'install_redhat_key' %}

Then save this configuration block in @/etc/yum.repos.d/arvados.repo@:

<notextile>
<pre><code>[arvados]
name=Arvados
baseurl=http://rpm.arvados.org/CentOS/$releasever/os/$basearch/
</code></pre>
</notextile>

h3. Debian and Ubuntu

Packages are available for Debian 7 ("wheezy"), Ubuntu 12.04 ("precise"), and Ubuntu 14.04 ("trusty").

First, register the Curoverse signing key in apt's database:

{% include 'install_debian_key' %}

Configure apt to retrieve packages from the Arvados package repository. This command depends on your OS vendor and version:

table(table table-bordered table-condensed).
|OS version|Command|
|Debian 7 ("wheezy")|<notextile><code><span class="userinput">echo "deb http://apt.arvados.org/ wheezy main" &#x7c; sudo tee /etc/apt/sources.list.d/arvados.list</span></code></notextile>|
|Ubuntu 12.04 ("precise")|<notextile><code><span class="userinput">echo "deb http://apt.arvados.org/ precise main" &#x7c; sudo tee /etc/apt/sources.list.d/arvados.list</span></code></notextile>|
|Ubuntu 14.04 ("trusty")|<notextile><code><span class="userinput">echo "deb http://apt.arvados.org/ trusty main" &#x7c; sudo tee /etc/apt/sources.list.d/arvados.list</span></code></notextile>|

{% include 'notebox_begin' %}

Arvados packages for Ubuntu may depend on third-party packages in Ubuntu's "universe" repository.  If you're installing on Ubuntu, make sure you have the universe sources uncommented in @/etc/apt/sources.list@.

{% include 'notebox_end' %}

Retrieve the package list:

<notextile>
<pre><code>~$ <span class="userinput">sudo apt-get update</span>
</code></pre>
</notextile>

h2. A unique identifier

Each Arvados installation should have a globally unique identifier, which is a unique 5-character lowercase alphanumeric string. For testing purposes, here is one way to make a random 5-character string:

<notextile>
<pre><code>~$ <span class="userinput">tr -dc 0-9a-z &lt;/dev/urandom | head -c5; echo</span>
</code></pre>
</notextile>

You may also use a different method to pick the unique identifier. The unique identifier will be part of the hostname of the services in your Arvados cluster. The rest of this documentation will refer to it as your @uuid_prefix@.


h2. SSL certificates

There are six public-facing services that require an SSL certificate. If you do not have official SSL certificates, you can use self-signed certificates.

{% include 'notebox_begin' %}

Users will probably not be able to upload data through Workbench if you use self-signed certificates.  Web browsers will not upload data unless they can verify the authenticity of the API server and Keepproxy SSL certificates.

{% include 'notebox_end' %}

By convention, we use the following hostname pattern:

<div class="offset1">
table(table table-bordered table-condensed).
|_Function_|_Hostname_|
|Arvados API|@uuid_prefix@.your.domain|
|Arvados Git server|git.@uuid_prefix@.your.domain|
|Arvados Keepproxy server|keep.@uuid_prefix@.your.domain|
|Arvados SSO Server|auth.your.domain|
|Arvados Websockets endpoint|ws.@uuid_prefix@.your.domain|
|Arvados Workbench|workbench.@uuid_prefix@.your.domain|
</div>
