---
layout: default
navsection: installguide
title: Install Ruby and bundler
...

We recommend Ruby >= 2.1.

h2(#rvm). Option 1: Install with rvm

<notextile>
<pre><code>~$ <span class="userinput">\curl -sSL https://get.rvm.io | bash -s stable --ruby=2.1</span>
~$ <span class="userinput">gem install bundler
</span></code></pre></notextile>

h2(#fromsource). Option 2: Install from source

<notextile>
<pre><code><span class="userinput">mkdir -p ~/src
cd ~/src
wget http://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.3.tar.gz
tar xzf ruby-2.1.3.tar.gz
cd ruby-2.1.3
./configure
make
sudo make install

sudo gem install bundler</span>
</code></pre></notextile>


