---
layout: default
navsection: installguide
title: Install Nginx
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

h3. Alma/CentOS/Red Hat/Rocky 8

<notextile>
<pre><code># <span class="userinput">dnf install nginx</span></code></pre>
</notextile>

h3. Debian and Ubuntu

<notextile>
<pre><code># <span class="userinput">apt-get --no-install-recommends install nginx</span></code></pre>
</notextile>
