---
layout: default
navsection: installguide
title: Arvados package repositories
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

On any host where you install Arvados software, you'll need to add the Arvados package repository.  They're available for several popular distributions.

* "Red Hat, AlmaLinux, and Rocky Linux":#redhat
* "Debian and Ubuntu":#debian

<notextile>
<a id="centos7" style="display: none;"></a>
</notextile>

h3(#redhat). Red Hat, AlmaLinux, and Rocky Linux

Packages are available for the following Red Hat-based distributions:

* AlmaLinux 8
* RHEL 8
* Rocky Linux 8

To install them with dnf, save this configuration block in @/etc/yum.repos.d/arvados.repo@:

<notextile>
<pre><code>[arvados]
name=Arvados
baseurl=http://rpm.arvados.org/CentOS/$releasever/os/$basearch/
gpgcheck=1
gpgkey=http://rpm.arvados.org/CentOS/RPM-GPG-KEY-arvados
</code></pre>
</notextile>

{% include 'gpg_key_fingerprint' %}

h3(#debian). Debian and Ubuntu

Packages are available for recent versions of Debian and Ubuntu.

First, register the Arvados signing key in apt's database:

{% include 'install_debian_key' %}

{% include 'gpg_key_fingerprint' %}

Then set up the package source by running this command:

<notextile>
<pre><code># <span class="userinput">tee /etc/apt/sources.list.d/arvados.sources &gt;/dev/null &lt;&lt;EOF
Types: deb
URIs: https://apt.arvados.org/$(lsb_release -cs)
Suites: $(lsb_release -cs)
Components: main
Signed-by: /etc/apt/keyrings/arvados.asc
EOF
</span></code></pre>
</notextile>

{% include 'notebox_begin' %}

fn1. Arvados packages for Ubuntu may depend on third-party packages in Ubuntu's "universe" repository.  If you're installing on Ubuntu, make sure you have the universe sources uncommented in @/etc/apt/sources.list@.

{% include 'notebox_end' %}

Retrieve the package list:

<notextile>
<pre><code># <span class="userinput">apt update</span>
</code></pre>
</notextile>
