---
layout: default
navsection: installguide
title: Arvados package repositories
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

On any host where you install Arvados software, you'll need to add the Arvados package repository.  They're available for several popular distributions.

* "Red Hat, AlmaLinux, and Rocky Linux":#redhat
* "Debian and Ubuntu":#debian

<notextile>
<a id="centos7" style="display: none;"></a>
</notextile>

h3(#redhat). Red Hat, AlmaLinux, and Rocky Linux

Packages are available for the following Red Hat-based distributions:

* AlmaLinux 8 (since 8.4)
* RHEL 8 (since 8.4)
* Rocky Linux 8 (since 8.4)

{% include 'setup_redhat_repo' %}

h3(#debian). Debian and Ubuntu

Packages are available for the following Debian-based distributions:

* Debian 12 ("bookworm")
* Debian 11 ("bullseye")
* Ubuntu 22.04 ("jammy")
* Ubuntu 20.04 ("focal")

{% include 'setup_debian_repo' %}
