---
layout: default
navsection: installguide
title: Arvados package repositories
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

On any host where you install Arvados software, you'll need to add the Arvados package repository.  They're available for several popular distributions.

* "Red Hat, AlmaLinux, and Rocky Linux":#redhat
* "Debian and Ubuntu":#debian

<notextile>
<a id="centos7" style="display: none;"></a>
</notextile>

h3(#redhat). Red Hat, AlmaLinux, and Rocky Linux

Packages are available for the following Red Hat-based distributions:

* AlmaLinux 8
* RHEL 8
* Rocky Linux 8

Set up the Arvados package repository by running these commands:

<notextile>
<pre><code># <span class="userinput">tee /etc/yum.repos.d/arvados.repo &gt;/dev/null &lt;&lt;'EOF'
[arvados]
name=Arvados
baseurl=http://rpm.arvados.org/CentOS/$releasever/os/$basearch/
gpgcheck=1
gpgkey=http://rpm.arvados.org/CentOS/RPM-GPG-KEY-arvados
EOF
</span></code></pre>
</notextile>

h3(#debian). Debian and Ubuntu

Packages are available for the following Debian-based distributions:

* Debian 12 ("bookworm")
* Debian 11 ("bullseye")
* Ubuntu 22.04 ("jammy")
* Ubuntu 20.04 ("focal")

{% include 'notebox_begin' %}

fn1. Arvados packages for Ubuntu may depend on third-party packages in Ubuntu's "universe" repository.  If you're installing on Ubuntu, make sure you have the universe sources uncommented in @/etc/apt/sources.list@.

{% include 'notebox_end' %}

Set up the Arvados package repository by running these commands:

<notextile>
<pre><code># <span class="userinput">install -d /etc/apt/keyrings</span>
# <span class="userinput">curl -fsSL -o /etc/apt/keyrings/arvados.asc https://apt.arvados.org/pubkey.gpg</span>
# <span class="userinput">declare "$(grep "^VERSION_CODENAME=" /etc/os-release || echo VERSION_CODENAME=MISSING)"</span>
# <span class="userinput">tee /etc/apt/sources.list.d/arvados.sources &gt;/dev/null &lt;&lt;EOF
Types: deb
URIs: https://apt.arvados.org/$VERSION_CODENAME
Suites: $VERSION_CODENAME
Components: main
Signed-by: /etc/apt/keyrings/arvados.asc
EOF</span>
# <span class="userinput">apt update</span>
</code></pre>
</notextile>
