---
layout: default
navsection: installguide
title: Arvados package repositories
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

On any host where you install Arvados software, you'll need to add the Arvados package repository.  They're available for several popular distributions.

* "Centos 7":#centos7
* "Debian and Ubuntu":#debian

h3(#centos7). CentOS

Packages are available for CentOS 7. To install them with yum, save this configuration block in @/etc/yum.repos.d/arvados.repo@:

<notextile>
<pre><code>[arvados]
name=Arvados
baseurl=http://rpm.arvados.org/CentOS/$releasever/os/$basearch/
gpgcheck=1
gpgkey=http://rpm.arvados.org/CentOS/RPM-GPG-KEY-arvados
</code></pre>
</notextile>

{% include 'gpg_key_fingerprint' %}

h3(#debian). Debian and Ubuntu

Packages are available for recent versions of Debian and Ubuntu.

First, register the Arvados signing key in apt's database:

{% include 'install_debian_key' %}

{% include 'gpg_key_fingerprint' %}

As root, add the Arvados package repository to your sources.  This command depends on your OS vendor and version:

table(table table-bordered table-condensed).
|_. OS version|_. Command|
|Debian 10 ("buster")|<notextile><code><span class="userinput">echo "deb http://apt.arvados.org/buster buster main" &#x7c; tee /etc/apt/sources.list.d/arvados.list</span></code></notextile>|
|Debian 9 ("stretch")|<notextile><code><span class="userinput">echo "deb http://apt.arvados.org/stretch stretch main" &#x7c; tee /etc/apt/sources.list.d/arvados.list</span></code></notextile>|
|Ubuntu 18.04 ("bionic")[1]|<notextile><code><span class="userinput">echo "deb http://apt.arvados.org/bionic bionic main" &#x7c; tee /etc/apt/sources.list.d/arvados.list</span></code></notextile>|
|Ubuntu 16.04 ("xenial")[1]|<notextile><code><span class="userinput">echo "deb http://apt.arvados.org/xenial xenial main" &#x7c; tee /etc/apt/sources.list.d/arvados.list</span></code></notextile>|

{% include 'notebox_begin' %}

fn1. Arvados packages for Ubuntu may depend on third-party packages in Ubuntu's "universe" repository.  If you're installing on Ubuntu, make sure you have the universe sources uncommented in @/etc/apt/sources.list@.

{% include 'notebox_end' %}

Retrieve the package list:

<notextile>
<pre><code># <span class="userinput">apt-get update</span>
</code></pre>
</notextile>
