---
layout: default
navsection: installguide
title: Installation steps
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

The installation process described has the following major steps:

notextile. <div class="spaced-out">
# "Planning and prerequisites":install-manual-prerequisites.html
# Write configuration files
# Install packages
# Verify installation
notextile. </div>
