---
layout: default
navsection: installguide
title: Customizing Workbench
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

h2. Site name

Use the @Workbench.SiteName@ configuration option to set the site name rendered at the top of Workbench.

{% codeblock as yaml %}
    Workbench:
      SiteName: Arvados Workbench
{% endcodeblock %}

h2. Welcome page

Use the @Workbench.WelcomePageHTML@ configuration option to set the text that is rendered when a user arrives at the front page (and has not yet logged in).

{% codeblock as yaml %}
    Workbench:
      WelcomePageHTML: |
        <img src="/arvados-logo-big.png" style="width: 20%; float: right; padding: 1em;" />
        <h2>Please log in.</h2>

        <p>If you have never used Arvados Workbench before, logging in
        for the first time will automatically create a new
        account.</p>

        <i>Arvados Workbench uses your information only for
        identification, and does not retrieve any other personal
        information.</i>
{% endcodeblock %}

h2. Inactive user page

Use the @Workbench.InactivePageHTML@ configuration option to set the text that is rendered when a user logs in but is inactive.

{% codeblock as yaml %}
    Workbench:
      InactivePageHTML: |
        <img src="/arvados-logo-big.png" style="width: 20%; float: right; padding: 1em;" />
        <h3>Hi! You're logged in, but...</h3>
        <p>Your account is inactive.</p>
        <p>An administrator must activate your account before you can get
        any further.</p>
{% endcodeblock %}

h2(#banner). Message banner on login and custom tooltips

Set the @Workbench.BannerUUID@ configuration option to the UUID of a collection.  *This collection should be shared with all users.*

{% codeblock as yaml %}
    Workbench:
      BannerUUID: zzzzz-4zz18-0123456789abcde
{% endcodeblock %}

h3. Banner

You can have box pop up when users load Workbench to give information such as links to site-specific documentation or notification about anticipated downtime.

The banner appears when a user loads workbench and have not yet viewed the current banner text.  Users can also view the banner after dismissing it by selecting the *Restore Banner* option from the *Notifications* menu.

The banner text (HTML formatted) is loaded from the file @banner.html@ in the collection provided in @BannerUUID@.

h3. Tooltips

You can provide a custom tooltip overlay to provide site-specific guidance for using workbench.  Users can opt-out by selecting *Disable Tooltips* from the *Notifications* menu.

The tooltips are loaded from the file @tooltips.json@ in the collection provided in @BannerUUID@.

The format of this file is a JSON object where the key is a "CSS selector":https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors and the value is the text of the tooltip.  Here is an example:

{% codeblock as yaml %}
{
    "[data-cy=side-panel-button]": "Click here to create a new project!",
    "[data-cy=project-panel] tbody tr:nth-child(1)": "First element in the project list"
}
{% endcodeblock %}

The first example adds a tooltip displaying "Click here to create a new project!" to the HTML node with the attribute @data-cy="side-panel-button"@.

The second example adds a tooltip displaying "First element in the project list" by finding the project panel element, finding the table body element within the project panel, then matching the first table row.

Use the web developer tools offer by your browser to determine what identifiers are available and construct selections that will anchor your tooltips to the desired workbench components.
