<% related_objs.each do |obj| %>

<tr class="collection">
  <td>
    <%= link_to_if_arvados_object obj.uuid %>
  </td>
  <td><%= link_to_if_arvados_object obj.owner_uuid, friendly_name: true %></td>
</tr>

<% end %>
