<%= render(partial: 'work_units/show_status', locals: {current_obj: @object, name: @object[:name] || 'this container'}) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title">Container requests</span>
  </div>
  <div class="panel-body">
    <% crs = ContainerRequest.order("created_at desc").filter([["container_uuid", "=", @object.uuid]]) %>
    <% crs.each do |cr| %>
      <div>
        <%= link_to_if_arvados_object cr, friendly_name: true %>
        created at
        <%= render_localized_date(cr.created_at) %>.
      </div>
    <% end %>
  </div>
</div>
