### This file is managed by Ansible ###
{# Copyright (C) The Arvados Authors. All rights reserved.
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set upstream_name = "arvados-" + arvados_nginx_service_key|lower %}
{% block upstream %}
upstream {{ upstream_name }} {
{% for addr in arvados_nginx_proxy_service | internal_addrs %}
  server  {{ addr }}  fail_timeout=10s;
{% endfor %}
}
{% endblock %}

{% set ext_addr = arvados_nginx_proxy_service | external_addr %}
server {
  listen       {{ ext_addr.port }} ssl;
  server_name  {{ ext_addr.address }};

  ssl_certificate      {{ tls_source.cert.path }};
  ssl_certificate_key  {{ tls_source.key.path }};
{% if tls_source.key.aws_secret is defined %}
  ssl_password_file    /run/arvados/{{ tls_source.key.aws_secret }};
{% endif %}
{% if arvados_nginx_log_basename is truthy %}
  access_log  /var/log/nginx/{{ arvados_nginx_log_basename }}.access.log  combined;
  error_log   /var/log/nginx/{{ arvados_nginx_log_basename }}.error.log;
{% endif %}
{% if arvados_nginx_proxy_service.BasicUser is defined %}
  auth_basic            {{ arvados_nginx_proxy_service.BasicRealm|default('Restricted Area')|regex_replace('([\\s\\\'"{};$\\\\])', '\\\\\\1') }};
  auth_basic_user_file  {{ arvados_nginx_htpasswd_path }};
{% endif %}

  {{ arvados_nginx_server_config|indent(2) }}
{% block server_config %}

  location / {
    proxy_pass  http://{{ upstream_name }};

    {{ arvados_nginx_proxy_config|indent(4) }}
  }
{% endblock %}
}
