### This file is managed by Ansible ###
{# Copyright (C) The Arvados Authors. All rights reserved.
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% set upstream_name = "arvados-" + arvados_nginx_service_key|lower %}
{% set upstream_svc = arvados_cluster.Services[arvados_nginx_service_key] %}
{% block upstream %}
upstream {{ upstream_name }} {
{% for addr in upstream_svc | internal_addrs %}
  server  {{ addr }}  fail_timeout=10s;
{% endfor %}
}
{% endblock %}

{% set ext_addr = upstream_svc | external_addr %}
server {
  listen       {{ ext_addr.port }} ssl;
  server_name  {{ ext_addr.address }};

  ssl_certificate      {{ tls_source.cert.path }};
  ssl_certificate_key  {{ tls_source.key.path }};

  {{ arvados_nginx_server_config|indent(2) }}
{% block server_config %}

  location / {
    proxy_pass  http://{{ upstream_name }};

    {{ arvados_nginx_proxy_config|indent(4) }}
  }
{% endblock %}
}
