{% extends "arvados-nginx-site.conf.j2" %}
{# Copyright (C) The Arvados Authors. All rights reserved.
 #
 # SPDX-License-Identifier: Apache-2.0
 #}

{% block upstream %}
{% endblock %}

{% block server_config %}
  # Workbench2 uses a call to /config.json to bootstrap itself
  # and find out where to contact the API server.
  location /config.json {
    return 200 '{"API_HOST":"{{ arvados_cluster.Services.Controller|external_addr }}"}';
  }

  location / {
    root      /var/www/arvados-workbench2/workbench2;
    index     index.html;
    try_files $uri $uri/ /index.html;
    if (-f $document_root/maintenance.html) {
      return 503;
    }
  }
{% endblock %}
