<p>
  More information about how to log in to VMs:
</p>
<ul>
  <li>
    <%= link_to raw('Arvados Docs &rarr; User Guide &rarr; SSH access'),
        "#{Rails.configuration.arvados_docsite}/user/getting_started/ssh-access-unix.html",
        target: "_blank"%>.
  </li>
</ul>
