<%= render partial: 'application/index' %>

<hr />

<p>
  See also:
  <%= link_to raw('Arvados Docs &rarr; User Guide &rarr; SSH access'),
  "#{Rails.configuration.arvados_docsite}/user/getting_started/ssh-access.html",
  target: "_blank"%>.
</p>
