<div class="arv-log-refresh-control"
     data-load-throttle="86486400000" <%# 1001 nights %>
     ></div>
<%=
   render(partial: 'work_units/show_component', locals: {wu: current_obj.work_unit(name)})
%>
