<span class="<%=align%> text-overflow-ellipsis" style="max-width: 100%">
  <% outputs = wu.outputs %>
  <% if outputs.size == 0 %>
    No output
  <% elsif outputs.size == 1 %>
    <% if defined?(include_icon) && include_icon %>
      <i class="fa fa-fw fa-archive"></i>
    <% end %>
    <%= link_to_if_arvados_object outputs[0], friendly_name: true %>
  <% else %>
    <%= render partial: 'work_units/show_outputs', locals: {id: wu.uuid, outputs: outputs, align:align} %>
  <% end %>
</span>
