<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<div class="data-table <%=name%>-table" id="<%=name%>-table" style="max-height: 150px; overflow-y: auto;">
  <table>
    <% data_map.each do |k, v|%>
      <tr>
        <td>
          <%= k.to_s %>
        </td>
        <td style="padding-left: 1em; padding-right: 1em">
          <%= v %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
