<div class="container">
  <div class="row">
    <div class="pull-right">
      <input type="text" class="form-control filterable-control recent-all-processes-filterable-control"
             placeholder="Search all processes"
             data-filterable-target="#all-processes-scroll"
             value="<%= params[:search] %>">
      </input>
    </div>
  </div>
  <div>
    <div>
      <table class="table table-condensed table-fixedlayout arv-recent-all-processes">
        <colgroup>
          <col width="25%" />
          <col width="10%" />
          <col width="20%" />
          <col width="20%" />
          <col width="20%" />
          <col width="5%" />
        </colgroup>

        <thead>
          <tr class="contain-align-left">
            <th>
              Process
            </th>
            <th>
              Status
            </th>
            <th>
              Owner
            </th>
            <th>
              Created at
            </th>
            <th>
              Output
            </th>
            <th>
            </th>
          </tr>
        </thead>

        <tbody data-infinite-scroller="#all-processes-scroll" id="all-processes-scroll"
               data-infinite-content-href="<%= url_for partial: :all_processes_rows %>" >
        </tbody>
      </table>
    </div>
  </div>
</div>
