# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: AGPL-3.0

include agpl-3.0.txt
include crunchstat_summary/dygraphs.js
include crunchstat_summary/synchronizer.js
include arvados_version.py