<% render :partial => "safe" %>

<div class="box">
  <p class="welcome">Welcome to Curoverse</p>
  <p class="copy">For the beta program, we're using Google accounts for authentication.
    You'll need a Gmail, Google+, or other Google account to login.</p>
  <%= link_to "Login", $arvados_api_client.arvados_login_url(return_to: request.url), class: "pull-right welcome login" %>
</div>
