/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require bootstrap-editable
 *= require_tree .
 */

.contain-align-left {
    text-align: left;
}
table.topalign>tbody>tr>td {
    vertical-align: top;
}
table.topalign>thead>tr>td {
    vertical-align: bottom;
}
tr.cell-valign-center>td {
    vertical-align: middle;
}
tr.cell-noborder>td,tr.cell-noborder>th {
    border: none;
}
table.table-justforlayout>tr>td,
table.table-justforlayout>tr>th,
table.table-justforlayout>thead>tr>td,
table.table-justforlayout>thead>tr>th,
table.table-justforlayout>tbody>tr>td,
table.table-justforlayout>tbody>tr>th{
    border: none;
}
table.table-justforlayout {
    margin-bottom: 0;
}
.deemphasize {
    font-size: .8em;
    color: #888;
}
table .data-size, .table .data-size {
    text-align: right;
}
body .editable-empty {
    color: #999;
}
body .editable-empty:hover {
    color: #0088cc;
}
table.arv-index tbody td.arv-object-AuthorizedKey.arv-attr-public_key {
    overflow-x: hidden;
    max-width: 120px;
}
table.table-fixedlayout {
    white-space: nowrap;
    table-layout: fixed;
}
table.table-fixedlayout td {
    overflow: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
table.table-smallcontent td {
    font-size: 85%;
}
form input.search-mini {
    padding: 0 6px;
}
form.small-form-margin {
    margin-bottom: 2px;
}
.nowrap {
    white-space: nowrap;
}
