/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap3-editable/bootstrap-editable
 *= require_tree .
 */

.contain-align-left {
    text-align: left;
}
table.topalign>tbody>tr>td {
    vertical-align: top;
}
table.topalign>thead>tr>td {
    vertical-align: bottom;
}
tr.cell-valign-center>td {
    vertical-align: middle;
}
tr.cell-noborder>td,tr.cell-noborder>th {
    border: none;
}
table.table-justforlayout>tr>td,
table.table-justforlayout>tr>th,
table.table-justforlayout>thead>tr>td,
table.table-justforlayout>thead>tr>th,
table.table-justforlayout>tbody>tr>td,
table.table-justforlayout>tbody>tr>th{
    border: none;
}
table.table-justforlayout {
    margin-bottom: 0;
}
.smaller-text {
    font-size: .8em;
}
.deemphasize {
    font-size: .8em;
    color: #888;
}
.arvados-filename,
.arvados-uuid {
    font-size: .8em;
    font-family: monospace;
}
table .data-size, .table .data-size {
    text-align: right;
}
body .editable-empty {
    color: #999;
}
body .editable-empty:hover {
    color: #0088cc;
}
table.arv-index tbody td.arv-object-AuthorizedKey.arv-attr-public_key {
    overflow-x: hidden;
    max-width: 120px;
}
table.arv-index > thead > tr > th {
    border-top: none;
}
table.table-fixedlayout {
    white-space: nowrap;
    table-layout: fixed;
}
table.table-fixedlayout td {
    overflow: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
table.table-smallcontent td {
    font-size: 85%;
}
form input.search-mini {
    padding: 0 6px;
}
form.small-form-margin {
    margin-bottom: 2px;
}
.nowrap {
    white-space: nowrap;
}

/* top nav */
$top-nav-bg: #3c163d;
$top-nav-bg-bottom: #260027;
nav.navbar-fixed-top .navbar-brand {
    color: #79537a;
    letter-spacing: 0.4em;
}
nav.navbar-fixed-top {
    background: $top-nav-bg;
    background: linear-gradient(to bottom, $top-nav-bg 0%,$top-nav-bg-bottom 100%);
}
.navbar.breadcrumbs {
    line-height: 50px;
    border-radius: 0;
    margin-bottom: 0;
    border-right: 0;
    border-left: 0;
}
.navbar.breadcrumbs .nav > li > a,
.navbar.breadcrumbs .nav > li {
    color: #000;
}
.navbar.breadcrumbs .nav > li.nav-separator > i {
    color: #bbb;
}
.navbar.breadcrumbs .navbar-form {
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar.breadcrumbs .navbar-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

nav.navbar-fixed-top .navbar-nav.navbar-right > li.open > a,
nav.navbar-fixed-top .navbar-nav.navbar-right > li.open > a:focus,
nav.navbar-fixed-top .navbar-nav.navbar-right > li.open > a:hover {
    background: lighten($top-nav-bg, 5%);
}
nav.navbar-fixed-top .navbar-nav.navbar-right > li > a,
nav.navbar-fixed-top .navbar-nav.navbar-right > li > a:focus,
nav.navbar-fixed-top .navbar-nav.navbar-right > li > a:hover {
    color: #fff;
}

.dax {
    max-width: 10%;
    margin-right: 1em;
    float: left
}

.smart-scroll {
    overflow: auto;
    margin-bottom: -15px;
}

.infinite-scroller .fa-warning {
    color: #800;
}

.inline-progress-container div.progress {
    margin-bottom: 0;
}

.inline-progress-container {
    width: 100%;
    display:inline-block;
}

td.add-tag-button {
    white-space: normal;
}
td.add-tag-button .add-tag-button {
    margin-right: 4px;
    opacity: 0.2;
}
td.add-tag-button .add-tag-button:hover {
    opacity: 1;
}
span.removable-tag-container {
    line-height: 1.6;
}
.label.removable-tag a {
    color: #fff;
    cursor: pointer;
}

li.notification {
    padding: 10px;
}

// See HeaderRowFixer in application.js
table.table-fixed-header-row {
    width: 100%;
    border-spacing: 0px;
    margin:0;
}
table.table-fixed-header-row thead {
    position:fixed;
    background: #fff;
}
table.table-fixed-header-row tbody {
    position:relative;
    top:1.5em;
}

/* Setting the height needs to be fixed with javascript. */
.dropdown-menu {
    padding-right: 20px;
    max-height: 440px;
    width: 400px;
    overflow-y: auto;
}

.row-fill-height, .row-fill-height>div[class*='col-'] {
    display: flex;
}
.row-fill-height>div[class*='col-']>div {
    width: 100%;
}

/* Show editable popover above side-nav */
.editable-popup.popover {
    z-index:1055;
}

/* Do not leave space for left-nav */
div#wrapper {
  padding-left: 0;
}

.arv-description-as-subtitle {
  padding-bottom: 1em;
}
.arv-description-in-table {
  height: 4em;
  overflow-x: hidden;
  overflow-y: hidden;
}
.arv-description-in-table:hover {
  overflow-y: auto;
}

.btn.btn-nodecorate {
  border: none;
}
svg text {
    font-size: 6pt;
}

div.pane-content iframe {
  width: 100%;
  border: none;
}
span.editable-textile {
  display: inline-block;
}
.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.time-label-divider {
  font-size: 80%;
  min-width: 1em;
  padding: 0px 2px 0px 0px;
}
.task-summary-status {
  font-size: 80%;
}
#page-wrapper > div > h2 {
  margin-top: 0px;
}

.compute-summary-numbers td {
  font-size: 150%;
}
