/*
  "active" and "inactive" colors are too similar for a toggle switch
  in the default bootstrap theme.
  */

$inactive-bg: #5bc0de;
$active-bg: #39b3d7;

.btn-group.toggle-persist .btn {
    width: 6em;
}
.btn-group.toggle-persist .btn-info {
    background-color: lighten($inactive-bg, 15%);
}

.btn-group.toggle-persist .btn-info.active {
    background-color: $active-bg;
}
