.arv-folder-list > .row {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1em;
}
.arv-folder-list > .row.folder:hover {
    background: #d9edf7;
}
.arv-folder-list > .row.folder.active,
.arv-folder-list > .row.folder.active:hover {
    background: #428bca;
    color: #fff;
}
