.arv-job-log-window {
    height: 40em;
    white-space: pre;
    overflow: scroll;
    background: black;
    color: white;
    font-family: monospace;
    font-size: .8em;
    border: 2px solid black;
}
