.arv-project-list > .row {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1em;
}
.arv-project-list > .row.project:hover {
    background: #d9edf7;
}
div.scroll-20em {
    height: 20em;
    overflow-y: scroll;
}

.compute-summary {
    margin: 0.1em;
}

.compute-summary-head {
    margin-left: 0.3em;
}

.compute-detail {
    border: 1px solid;
    border-color: #DDD;
    border-radius: 3px;
    padding: 0.2em;
    position: absolute;
    z-index: 1;
    background: white;
}

.compute-summary-numbers table {
  width: 100%;
  td,th {
    text-align: center;
  }
}