.arv-project-list > .row {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1em;
}
.arv-project-list > .row.project:hover {
    background: #d9edf7;
}
div.scroll-20em {
    height: 20em;
    overflow-y: scroll;
}

.compute-summary {
    margin: 0.15em 0em 0.15em 0em;
    display: inline-block;
}

.compute-summary-head {
    margin-left: 0.3em;
}

.compute-detail {
    border: 1px solid;
    border-color: #DDD;
    border-radius: 3px;
    padding: 0.2em;
    position: absolute;
    z-index: 1;
    background: white;
}

.compute-detail:hover {
   cursor: pointer;
}

.compute-node-summary:hover {
  cursor: pointer;
}

.compute-summary-numbers .panel {
  margin-bottom: 0px;
}

.compute-summary-numbers table {
  width: 100%;
  td,th {
    text-align: center;
  }
}

.compute-summary-nodelist {
  margin-bottom: 10px
}

.dashboard-panel-info-row {
  padding: .5em;
  border-radius: .3em;
}

.x-ellip {
  overflow-x: hide;
  text-overflow: ellipsis;
}

.dashboard-panel-info-row:hover {
  background-color: #D9EDF7;
}