.arv-project-list > .row {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1em;
}
.arv-project-list > .row.project:hover {
    background: #d9edf7;
}
div.scroll-20em {
    height: 20em;
    overflow-y: scroll;
}
.label-info a {
    color: white;
}
.removable-tag:hover {
    cursor: pointer;
}