.selectable-container > .row {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 1em;
}
.selectable.active, .selectable:hover {
    background: #d9edf7;
}
.selectable.active,
.selectable.active a,
.selectable.active:hover,
.selectable.active:hover a {
    background: #428bca;
    color: #fff;
}
