#persistent-selection-list {
    width: 500px;
}

#selection-form-content > li > a, #selection-form-content > li > button {
    margin: 3px 20px;
}

#selection-form-content li table tr {
    padding: 3px 20px;
    line-height: 1.42857;
    border-top: 1px solid rgb(221, 221, 221);
}

#selection-form-content li table tr:last-child {
    border-bottom: 1px solid rgb(221, 221, 221);
}
