# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

- name: apt update if needed
  ansible.builtin.meta: flush_handlers

- name: Install Loki package
  become: yes
  ansible.builtin.apt:
    name: loki

- name: Create Loki config dir
  become: yes
  ansible.builtin.file:
    path: /etc/loki
    state: directory
    owner: root
    group: root
    mode: 0755 # Matches the default permissions used by the grafana loki package

- name: Write Loki config.yml
  become: yes
  no_log: yes
  ansible.builtin.copy:
    src: "{{ arvados_loki_config_file }}"
    dest: /etc/loki/config.yml
    owner: root
    group: root
    mode: 0664 # Matches the default permissions used by the grafana loki package
  register: arvados_loki_config_copy

- name: Start and enable loki.service
  become: yes
  ansible.builtin.systemd_service:
    name: loki.service
    state: "{{ 'restarted' if arvados_loki_config_copy.changed else 'started' }}"
    enabled: true
