<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<div class="nowrap">
  <%= object.content_summary %><br />
  <%= render partial: 'pipeline_instances/component_labels', locals: {object: object} %>
</div>
