<% if !@object.state.in? ['New', 'Ready'] %>

  <div class="pull-right">
    Current state: <span class="badge badge-info" data-pipeline-state="<%= @object.state %>"><%= @object.state.sub('OnServer', '') %></span>&nbsp;
  </div>

  <%= render_pipeline_components("running", :json) %>

<% else %>
  <%# state is either New or Ready %>
  <p><i>Here are all of the pipeline's components (jobs that will need to run in order to complete the pipeline). If you know what you're doing (or you're experimenting) you can modify these parameters before starting the pipeline. Usually, you only need to edit the settings presented on the "Inputs" tab above.</i></p>

  <%= render_pipeline_components("editable", :json, editable: true) %>
<% end %>
