<%= form_tag do |f| %>

<table class="table table-condensed table-fixedlayout arv-recent-pipeline-instances">
  <colgroup>
    <col width="5%" />
    <col width="15%" />
    <col width="25%" />
    <col width="20%" />
    <col width="15%" />
    <col width="15%" />
    <col width="5%" />
  </colgroup>
  <thead>
    <tr class="contain-align-left">
      <th>
      </th><th>
	Status
      </th><th>
	Instance
      </th><th>
	Template
      </th><th>
	Owner
      </th><th>
	Created at
      </th><th>
      </th>
    </tr>
  </thead>

  <tbody data-infinite-scroller="recent-pipeline-instances-scroll"
         data-infinite-content-href="<%= url_for partial: :recent_rows %>" >
  </tbody>

</table>

<% end %>
