<% content_for :css do %>
  .pipeline_color_legend {
    padding-left: 1em;
    padding-right: 1em;
  }
<% end %>

<% if @pipelines.count > 1 %>
  <div style="text-align: center">
    <span class="pipeline_color_legend" style="background: #88ff88">This pipeline</span> 
    <span class="pipeline_color_legend" style="background: #8888ff">Comparison pipeline</span>
    <span class="pipeline_color_legend" style="background: #88ffff">Shared by both pipelines</span>
  </div>
<% end %>

<%= render partial: 'application/svg_div', locals: {
      divId: "provenance_graph", 
      svgId: "provenance_svg", 
      svg: @prov_svg } %>
