<% log_uuids = [@object.uuid] + pipeline_jobs(@object).collect{|x|x[:job].andand[:uuid]}.compact %>
<% log_history = stderr_log_history(log_uuids) %>
<div id="pipeline_event_log_div"
     class="arv-log-event-listener arv-log-event-handler-append-logs arv-log-event-subscribe-to-pipeline-job-uuids arv-job-log-window"
     data-object-uuids="<%= log_uuids.join(' ') %>"
     ><%= log_history.join("\n") %></div>

<%# Applying a long throttle suppresses the auto-refresh of this
    partial that would normally be triggered by arv-log-event. %>
<div class="arv-log-refresh-control"
     data-load-throttle="86486400000" <%# 1001 nights %>
     ></div>
