<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<% if (o = Group.find?(@objects.first.owner_uuid)) %>
  <% content_for :breadcrumbs do %>
    <li class="nav-separator"><span class="glyphicon glyphicon-arrow-right"></span></li>
    <li>
      <%= link_to(o.name, project_path(o.uuid)) %>
    </li>
    <li class="nav-separator">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </li>
    <li>
      <%= link_to '#' do %>compare pipelines<% end %>
    </li>
  <% end %>
<% end %>
<%= render partial: 'content', layout: 'content_layout', locals: {pane_list: controller.compare_pane_list }  %>
