  <%= image_tag "dax.png", class: "dax" %>
  <p>
    Hi, I noticed you haven't uploaded a new collection yet. 
    <%= link_to "Click here to learn how to upload data to Arvados Keep.", 
	"#{Rails.configuration.arvados_docsite}/user/tutorials/tutorial-keep.html", 
	style: "font-weight: bold", target: "_blank" %>
  </p>
