  <p><%= image_tag "dax.png", class: "dax" %>
    Hi, I noticed you haven't run a job yet. 
    <%= link_to "Click here to learn how to run an Arvados Crunch job.", 
	"#{Rails.configuration.arvados_docsite}/user/tutorials/tutorial-job1.html", 
	style: "font-weight: bold",
	target: "_blank" %>
  </p>

