  <p><%= image_tag "dax.png", class: "dax" %>
    Hi, I noticed you haven't run a pipeline yet.  
    <%= link_to "Click here to learn how to run an Arvados Crunch pipeline.", 
	"#{Rails.configuration.arvados_docsite}/user/tutorials/tutorial-pipeline-workbench.html",
	style: "font-weight: bold",
	target: "_blank" %>
  </p>
