   <%= image_tag "dax.png", class: "dax" %> 
    <div>
      Hi, I noticed that you have not yet set up an SSH public key for use with Arvados.  
      <%= link_to "Click here to learn about SSH keys in Arvados.",
 	    "/manage_account", style: "font-weight: bold" %>
    </div>
