# Change this omniauth configuration to point to your registered provider
# Since this is a registered application, add the app id and secret here
APP_ID = 'arvados-server'
APP_SECRET = rand(2**512).to_s(36) # CHANGE ME!

# Update your custom Omniauth provider URL here
CUSTOM_PROVIDER_URL = 'http://auth.clinicalfuture.com'

Rails.application.config.middleware.use OmniAuth::Builder do
  provider :josh_id, APP_ID, APP_SECRET, CUSTOM_PROVIDER_URL
end

OmniAuth.config.on_failure = StaticController.action(:login_failure)
