##########################################################
# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: CC-BY-SA-3.0

# These are the security-sensitive parameters to configure the installation

INITIAL_USER_PASSWORD="fixme"
MONITORING_PASSWORD=${INITIAL_USER_PASSWORD}

# YOU SHOULD CHANGE THESE TO SOME RANDOM STRINGS
BLOB_SIGNING_KEY=fixmeblobsigningkeymushaveatleast32characters
MANAGEMENT_TOKEN=fixmemanagementtokenmushaveatleast32characters
SYSTEM_ROOT_TOKEN=fixmesystemroottokenmushaveatleast32characters
ANONYMOUS_USER_TOKEN=fixmeanonymoususertokenmushaveatleast32characters
DATABASE_PASSWORD=fixmeplease_set_this_to_some_secure_value

LE_AWS_ACCESS_KEY_ID="FIXME"
LE_AWS_SECRET_ACCESS_KEY="fixme"

LOKI_AWS_S3_ACCESS_KEY_ID="FIXME"
LOKI_AWS_S3_SECRET_ACCESS_KEY="fixme"

# Read https://doc.arvados.org/install/crunch2-cloud/install-compute-node.html#sshkeypair
# for details on how to create this key.
DISPATCHER_SSH_PRIVKEY="fixme"

