# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
# This inventory defines container names, base images, and built image tags
# for the `build-docker-image.yml` playbook.

all:
  vars:
    ansible_connection: docker
    ansible_user: root
    arvados_dnf_command: "microdnf --assumeyes"
    distro_bootstrap_dnf_command: "{{ arvados_dnf_command }}"

arvados_build_one_target:
  hosts:
    arvados_pkgbuild_debian12:
      arvados_docker_from: debian:12-slim
      arvados_docker_tag: arvados/build:debian12
    arvados_pkgbuild_ubuntu2204:
      arvados_docker_from: ubuntu:jammy
      arvados_docker_tag: arvados/build:ubuntu2204
    arvados_pkgbuild_ubuntu2404:
      arvados_docker_from: ubuntu:noble
      arvados_docker_tag: arvados/build:ubuntu2404
    arvados_pkgbuild_rocky8:
      arvados_docker_from: rockylinux:8-minimal
      arvados_docker_tag: arvados/build:rocky8
    arvados_pkgbuild_rocky9:
      arvados_docker_from: rockylinux:9-minimal
      arvados_docker_tag: arvados/build:rocky9
    arvados_pkgbuild_rocky10:
      arvados_docker_from: rockylinux/rockylinux:10-minimal
      arvados_docker_tag: arvados/build:rocky10
  vars:
    arvados_docker_changes:
      - "ENV WORKSPACE=/arvados"

arvados_package_tests:
  hosts:
    arvados_pkgtest_debian12:
      arvados_docker_from: debian:12-slim
      arvados_docker_tag: arvados/package-test:debian12
    arvados_pkgtest_ubuntu2204:
      arvados_docker_from: ubuntu:jammy
      arvados_docker_tag: arvados/package-test:ubuntu2204
    arvados_pkgtest_ubuntu2404:
      arvados_docker_from: ubuntu:noble
      arvados_docker_tag: arvados/package-test:ubuntu2404
    arvados_pkgtest_rocky8:
      arvados_docker_from: rockylinux:8-minimal
      arvados_docker_tag: arvados/package-test:rocky8
      arvados_pkgtest_dnf_devel_basename: Rocky-PowerTools
      arvados_pkgtest_dnf_devel_section: powertools
    arvados_pkgtest_rocky9:
      arvados_docker_from: rockylinux:9-minimal
      arvados_docker_tag: arvados/package-test:rocky9
    arvados_pkgtest_rocky10:
      arvados_docker_from: rockylinux/rockylinux:10-minimal
      arvados_docker_tag: arvados/package-test:rocky10
  vars:
    arvados_docker_changes:
      - "ENV DEBIAN_FRONTEND=noninteractive"

arvados_test_workbench:
  hosts:
    arvados_workbench:
      arvados_docker_from: debian:12-slim
      arvados_docker_tag: arvados/workbench:latest
  vars:
    arvados_config_file: "{{ lookup('env', 'WORKSPACE') }}/services/workbench2/tools/arvados_config.yml"
    arvados_dev_user: workbench
    arvados_docker_changes:
      - "ENV ARVADOS_DIRECTORY=/opt/arvados"
      # VENV3DIR gets created by volume setup. The rest of PATH is standard.
      - "ENV PATH=/usr/local/bin:/usr/bin:/usr/sbin:/home/{{ arvados_dev_user }}/VENV3DIR/bin"
      - "USER {{ arvados_dev_user }}"
