<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<div class="nowrap">
  <%= object.content_summary %><br />
  <%= render partial: 'container_requests/state_label', locals: {object: object} %>
</div>
