<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<% wu = object.work_unit object.name %>
<span class="label label-<%=wu.state_bootstrap_class%>">
  <%=wu.state_label%>
</span>
