<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<% if @object.state != "Running" and Job.creatable? %>
  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#jobRerunModal">
    <i class="fa fa-fw fa-gear"></i> Re-run job...
  </button>
<% end %>
