<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<div class="nowrap">
  <div class="row">
    <div class="col-sm-2 inline-progress-container">
      <%= render partial: 'job_progress', locals: {j: object} %>
    </div>
    <div class="col-sm-10">
      <%= object.script %>
      <span class="deemphasize">
        job
        using <%= object.script_version %> commit
        from <%= object.repository %> repository
      </span>
    </div>
  </div>
</div>
