<script>

function addToLogViewer(logViewer, lines) {
  var re = /((\d\d\d\d)-(\d\d)-(\d\d))_((\d\d):(\d\d):(\d\d)) ([a-z0-9]{5}-[a-z0-9]{5}-[a-z0-9]{15}) (\d+) (\d+)? (.*)/;
  for (var a in lines) {
    var v = lines[a].match(re);
    if (v != null) {
    v11 = v[11];
    if (typeof v[11] === 'undefined') {
      v11 = '&nbsp;';
    }

  var message = v[12];
  var type = "";
  if (v11 != '&nbsp;') {
    if (/^stderr /.test(message)) {
        type = "task-output";
        message = message.substr(7);
    } else {
        type = "task-dispatch";
    }
  } else {
    if (/^status: /.test(message)) {
        type = "job-status";
        message = message.substr(8);
    } else {
        type = "crunch";
    }
  }

    logViewer.add({
      id: logViewer.items.length,
      timestamp: v[1] + " " + v[5],
      taskid: v11,
      message: message,
      type: type
    });

    } else {
      console.log("Did not parse: " + lines[a]);
    }
  }
  logViewer.update();
}

(function() {
var logViewer = new List('log-viewer', {
  valueNames: [ 'id', 'timestamp', 'taskid', 'message', 'type']
});

var makeFilter = function() {
  var pass = [];
  $(".toggle-filter").each(function(i, e) {
    if (e.checked) {
      pass.push(e.id.substr(5));
    }
  });
  return (function(item) {
    for (a in pass) {
      if (pass[a] == item.values().type) { return true; }
    }
    return false;
  });
}

<% logcollection = Collection.find @object.log %>

$.ajax('<%=j url_for logcollection %>/<%=j logcollection.files[0][1] %>').
  done(function(data, status, jqxhr) {
    logViewer.filter();
    addToLogViewer(logViewer, data.split("\n"));
    logViewer.filter(makeFilter());
    $("#logloadspinner").detach();
  });

$(".toggle-filter").on("change", function() {
  logViewer.filter(makeFilter());
});

$("#filter-all").on("click", function() {
  $(".toggle-filter").each(function(i, f) { f.checked = true; });
  logViewer.filter(makeFilter());
});

$("#filter-none").on("click", function() {
  $(".toggle-filter").each(function(i, f) { f.checked = false; console.log(f); });
  logViewer.filter(makeFilter());
});

$("#sort-by-time").on("change", function() {
  logViewer.sort("id");
});

$("#sort-by-task").on("change", function() {
  logViewer.sort("taskid");
});

})();

</script>

<div id="log-viewer">

    <div class="radio-inline">
      <label><input id="sort-by-time" type="radio" name="sort-radio" checked> Sort by time</label>
    </div>
    <div class="radio-inline">
      <label><input id="sort-by-task" type="radio" name="sort-radio" > Sort by task</label>
    </div>
<br>
  <div class="checkbox-inline">
    <label><input id="show-crunch" type="checkbox" checked="true" class="toggle-filter"> Show crunch output</label>
  </div>
  <div class="checkbox-inline">
    <label><input id="show-job-status" type="checkbox" checked="true" class="toggle-filter"> Show job status</label>
  </div>
  <div class="checkbox-inline">
    <label><input id="show-task-dispatch" type="checkbox" checked="true" class="toggle-filter"> Show task dispatch</label>
  </div>
  <div class="checkbox-inline">
    <label><input id="show-task-output" type="checkbox" checked="true" class="toggle-filter"> Show task output</label>
  </div>

<div class="pull-right">
    <button id="filter-all" class="btn">
      Select all
    </button>
    <button id="filter-none" class="btn">
      Select none
    </button>
</div>

  <table class="log-viewer-table">
    <thead>
      <tr>
        <th class="id" data-sort="id"></th>
        <th class="timestamp" data-sort="timestamp">Timestamp</th>
        <th class="type" data-sort="type">Log type</th>
        <th class="taskid"  data-sort="taskid">Task</th>
        <th class="message" data-sort="message">Message</th>
      </tr>
    </thead>
    <tbody class="list">
      <tr>
        <td class="id"></td>
        <td class="timestamp"></td>
        <td class="type"></td>
        <td class="taskid"></td>
        <td class="message"></td>
      </tr>
    </tbody>
  </table>

</div>

<%= image_tag 'ajax-loader.gif', id: "logloadspinner" %>
