<% if @object.state != "Running" && current_user.is_active %>
  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#jobRerunModal">
    <i class="fa fa-fw fa-gear"></i> Re-run job...
  </button>
<% end %>
