<p>
Sample <code>~/.ssh/config</code> section:
</p>

<pre>
Host *.arvados
  ProxyCommand ssh -p2222 turnout@switchyard.<%= current_api_host || 'xyzzy.arvadosapi.com' %> -x -a $SSH_PROXY_FLAGS %h
<% if @objects.first.andand.current_user_logins.andand.first %>
  User <%= @objects.first.current_user_logins.andand.first %>
<% end %>
</pre>

<p>
Sample login command:
</p>

<pre>
ssh <%= @objects.first.andand.hostname.andand.sub('.'+current_api_host,'') or 'vm-hostname' %>.arvados
</pre>

<p>
  See also:
  <%= link_to raw('Arvados Docs &rarr; User Guide &rarr; SSH access'),
  "#{Rails.configuration.arvados_docsite}/user/getting_started/ssh-access-unix.html",
  target: "_blank"%>.
</p>
