<table class="table">
  <thead>
    <tr class="contain-align-left">
      <th>
	id
      </th><th>
	owner
      </th><th>
	hostname
      </th>
    </tr>
  </thead>
  <tbody>

    <% @objects.sort_by { |vm| vm[:hostname] }.each do |vm| %>

    <tr>
      <td>
        <%= link_to_if_arvados_object vm %>
      </td><td>
        <%= render_editable_attribute vm, 'owner' %>
      </td><td>
        <%= render_editable_attribute vm, 'hostname' %>
      </td>
    </tr>

    <% end %>
    <% if @objects.count == 0 %>
    <tr>
      <td colspan="7">
        (no VMs)
      </td>
    </tr>
    <% end %>

  </tbody>
</table>

<% if current_user and current_user.is_admin %>
<%= button_to "Add a new VM", { action: 'create', return_to: './' }, { class: 'btn btn-primary' } %>
<% end %>
