# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/log/*.log.gz
/tmp

# Sensitive files and local configuration
/config/database.yml
/config/initializers/omniauth.rb
/config/application.yml

# asset cache
/public/assets/

/config/environments/development.rb
/config/environments/production.rb
/config/environments/test.rb

# Capistrano files are coming from another repo
/Capfile*
/config/deploy*

# SimpleCov reports
/coverage

# Dev/test SSL certificates
/self-signed.key
/self-signed.pem
