<div class="compute-summary-numbers">
    <table>
      <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="25%">
      </colgroup>
      <tr>
        <td><%= Job.queue_size %></td>
        <td><%= nodes.select {|n| n.crunch_worker_state == "busy" }.size %></td>
        <td><%= nodes.select {|n| n.crunch_worker_state == "idle" }.size %></td>
      </tr>
      <tr>
        <th>Queued jobs</th>
        <th>Busy nodes</th>
        <th>Idle nodes</th>
      </tr>
    </table>
</div>
