<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<div class="compute-summary-numbers">
  <table>
      <colgroup>
        <col width="50%">
        <col width="50%">
      </colgroup>
      <tr>
        <th scope="col">Pending containers</th>
        <th scope="col">Running containers</th>
      </tr>
      <tr>
	<% pending_containers = Container.order("created_at asc").filter([["state", "in", ["Queued", "Locked"]], ["priority", ">", 0]]).limit(1) %>
	<% running_containers = Container.order("started_at asc").where(state: "Running").limit(1) %>
        <td><%= pending_containers.items_available %></td>
        <td><%= running_containers.items_available %></td>
      </tr>
      <tr>
        <th scope="col">Oldest pending</th>
        <th scope="col">Longest running</th>
      </tr>
      <tr>
        <td><% if pending_containers.first then %>
	    <%= link_to_if_arvados_object pending_containers.first, link_text: render_runtime(Time.now - pending_containers.first.created_at, false, false) %>
	  <% else %>
	    -
	  <% end %>
	</td>

        <td><% if running_containers.first then %>
	    <%= link_to_if_arvados_object running_containers.first, link_text: render_runtime(Time.now - running_containers.first.created_at, false, false) %>
	  <% else %>
	    -
	  <% end %>
	</td>
      </tr>
    </table>

</div>
