<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<div class="row">
  <% @objects[0..3].each do |object| %>
  <div class="card arvados-object">
    <div class="card-top blue">
      <a href="#">
        <img src="/favicon.ico" alt=""/>
      </a>
    </div>
    <div class="card-info">
      <span class="title"><%= @objects.name_for(object) || object.class_for_display %></span>
      <div class="desc"><%= object.respond_to?(:description) ? object.description : object.uuid %></div>
    </div>
    <div class="card-bottom">
      <%= render :partial => "show_object_button", :locals => {object: object, htmloptions: {class: 'btn-default btn-block'}} %>
    </div>
  </div>
  <% end %>
</div>
