<div>
  <div class="row">
    <div class="col-md-6 col-md-push-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Additional permissions
        </div>
        <div class="panel-body">
          <p>
            <% if not @share_links.any? %>
              <span class="deemphasize">(No additional permissions)</span>
            <% else %>
              Also shared with:
              <% @share_links.andand.each do |link| %>
                <br /><%= link_to_if_arvados_object link.tail_uuid, friendly_name: true %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <% if @object.owner %>
        <div class="panel panel-default">
          <div class="panel-heading">
            Inherited permissions
          </div>
          <div class="panel-body">
            <p>Permissions for this project are inherited by the owner or parent project:
            </p>
            <p style="margin-left: 4em">
              <% if User == resource_class_for_uuid(@object.owner_uuid) %>
                <i class="fa fa-fw fa-user"></i>
              <% else %>
                <i class="fa fa-fw fa-folder"></i>
              <% end %>
              <%= link_to_if_arvados_object @object.owner_uuid, friendly_name: true %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
