<div class="pane-loaded arv-log-event-listener arv-refresh-on-log-event"
     data-pane-content-url="<%= root_url tab_pane: "dashboard" %>"
     data-object-uuid="all"
     data-load-throttle="15000"
     >
  <%= render partial: 'show_dashboard' %>
</div>
