<% content_for :js do %>
    setInterval(function(){
        $('#dashboard-content').trigger('arv:pane:reload');
    }, 15000);
<% end %>

<div id="dashboard-content"
     class="pane-anchor loaded"
     href="#dashboard-content-pane"
     data-pane-content-url="<%= root_url tab_pane: "dashboard" %>"
     >
  <div id="dashboard-content-pane" class="active">
    <%= render partial: 'show_dashboard' %>
  </div>
</div>
