<table class="table arv-public-projects" style="width: 100%;">
  <colgroup>
    <col width="25%" />
    <col width="75%" />
  </colgroup>
  <thead>
    <tr class="contain-align-left">
      <th>
	Name
      </th><th>
	Description
    </tr>
  </thead>

  <% @public_projects.each do |p| %>
    <tr>
      <td style="word-break:break-all;">
        <%= link_to_if_arvados_object p, {friendly_name: true} %>
      </div></td>
      <td style="word-break:break-all;">
        <%= render_attribute_as_textile(p, "description", p.description, true) %>
      </div></td>
    </tr>
  <% end %>
</table>

