---
layout: default
navsection: userguide
title: "run-command reference"
...

The @run-command@ crunch script enables you run command line programs.

{% include 'tutorial_expectations_workstation' %}

h1. Using run-command

The basic @run-command@ process evaluates its inputs and builds a command line, executes the command, and saves the contents of the output directory back to Keep.  For large datasets, @run-command@ can schedule concurrent tasks to execute the wrapped program over a range of inputs (see @task.foreach@ below.)

@run-command@ is controlled through the @script_parameters@ section of a pipeline component.  @script_parameters@ is a JSON object consisting of key-value pairs.  There are three categories of keys that are meaningful to run-command:
* The @command@ section defining the template to build the command line of task
* Special processing directives such as @task.foreach@ @task.cwd@ @task.vwd@ @task.stdin@ @task.stdout@
* User-defined parameters (everything else)

In the following examples, you can use "dry run mode" to determine the command line that @run-command@ will use without actually running the command.  For example:

<notextile>
<pre><code>~$ <span class="userinput">cd $HOME/arvados/crunch_scripts</span>
~$ <span class="userinput">./run-command --dry-run --script-parameters '{
  "command": ["echo", "hello world"]
}'</span>
run-command: echo hello world
</code></pre>
</notextile>

h2. Command template

The value of the "command" key is a list.  The first parameter of the list is the actual program to invoke, followed by the command arguments.  The simplest @run-command@ invocation simply runs a program with static parameters.  In this example, run "echo" with the first argument "hello world":

<pre>
{
  "command": ["echo", "hello world"]
}
</pre>

Running this job will print "hello world" to the job log.

By default, the command will start with the current working directory set to the output directory.  Anything written to the output directory will be saved to Keep when the command is finished.  You can change the default working directory using @task.cwd@ and get the path to the output directory using @$(task.outdir)@ as explained below.

Items in the "command" list may include lists and objects in addition to strings.  Lists are flattened to produce the final command line.  JSON objects are evaluated as list item functions (see below).  For example, the following evaluates to @["echo", "hello", "world"]@:

<pre>
{
  "command": ["echo", ["hello", "world"]]
}
</pre>

Finally, if "command" is a list of lists, it specifies a Unix pipeline where the standard output of the previous command is piped into the standard input of the next command.  The following example describes the Unix pipeline @cat foo | grep bar@:

<pre>
{
  "command": [["cat", "foo"], ["grep", "bar"]]
}
</pre>

h2. Parameter substitution

The "command" list can include parameter substitutions.  Substitutions are enclosed in "$(...)" and may contain the name of a user-defined parameter.  In the following example, the value of "a" is "hello world"; so when "command" is evaluated, it will substitute "hello world" for "$(a)":

<pre>
{
  "a": "c1bad4b39ca5a924e481008009d94e32+210/var-GS000016015-ASM.tsv.bz2",
  "command": ["echo", "$(file $(a))"]
}
</pre>

table(table table-bordered table-condensed).
|_. Function|_. Action|
|$(file ...)       | Takes a reference to a file within an Arvados collection and evaluates to a file path on the local file system where that file can be accessed by your command.  Will raise an error if the file is not accessible.|
|$(dir ...)        | Takes a reference to an Arvados collection or directory within an Arvados collection and evaluates to a directory path on the local file system where that directory can be accessed by your command.  The path may include a file name, in which case it will evaluate to the parent directory of the file.  Uses Python's os.path.dirname(), so "/foo/bar" will evaluate to "/foo" but "/foo/bar/" will evaluate to "/foo/bar".  Will raise an error if the directory is not accessible. |
|$(basename&nbsp;...)   | Strip leading directory and trailing file extension from the path provided.  For example, $(basename /foo/bar.baz.txt) will evaluate to "bar.baz".|
|$(glob ...)       | Take a Unix shell path pattern (supports @*@ @?@ and @[]@) and search the local filesystem, returning the first match found.  Use together with $(dir ...) to get a local filesystem path for Arvados collections.  For example: $(glob $(dir $(mycollection)/*.bam)) will find the first .bam file in the collection specified by the user parameter "mycollection".  If there is more than one match, which one is returned is undefined.  Will raise an error if no matches are found.|
|$(task.tmpdir)|Designated temporary directory.  This directory will be discarded when the job completes.|
|$(task.outdir)|Designated output directory.  The contents of this directory will be saved to Keep when the job completes.  A symlink to a file in the keep mount will reference existing Keep blocks in your job output collection, with no data copying or duplication.|
|$(job.srcdir)|Path to the git working directory ($CRUNCH_SRC).|
|$(node.cores)|Number of CPU cores on the node.|
|$(job.uuid)|Current job uuid ($JOB_UUID)|
|$(task.uuid)|Current task uuid ($TASK_UUID)|

h3. Escape sequences

If your command includes a @$()@ sequence that shouldn't be interpreted by run-command&mdash;for example, because you're writing shell code that calls a subcommand&mdash;you can prevent run-command from interpreting it by placing a backslash in front of the @$@ character.  Note that JSON also uses backslash to escape characters, so you'll need to write two backslashes for run-command to see one after parsing the parameter.  This example uppercases all alphabetic characters in the "pattern" parameter before using it as a regular expression in grep:

<pre>{"command": ["bash", "-c", "grep \\$(echo '$(pattern)' | tr a-z A-Z) '$(input)'"]}</pre>

You can put a literal backslash in your command by escaping it with another backslash.  Ultimately this means that where the primary Unix command includes a single backslash, you'll need to write four backslashes: double the backslashes for run-command escaping, then double them again for JSON escaping.

<pre>{"command": ["grep", "\\\\bword\\\\b", "$(input)"]}</pre>

h2. List context

Where specified by the documentation, parameters may be evaluated in a "list context".  That means the value will evaluate to a list instead of a string.  Parameter values can be a static list, a path to a file, a path to a directory, or a JSON object describing a list context function.

If the value is a string, it is interpreted as a path.  If the path specifies a regular file, that file will be opened as a text file and produce a list with one item for each line in the file (end-of-line characters will be stripped).  If the path specifies a directory, produce a list containing all of the entries in the directory.  Note that parameter expansion is not performed on list items produced this way.

If the value is a static list, it will evaluate each item and return the expanded list.  Each item may be a string (evaluated for parameter substitution), a list (recursively evaluated), or a JSON object (indicating a list function, described below).

If the value is a JSON object, it is evaluated as a list function described below.

h2. List functions

When @run-command@ is evaluating a list (such as "command"), in addition to string parameter substitution, you can use list item functions.  In the following functions, you specify the name of a user parameter to act on (@"$(a)"@ in the first example); the value of that user parameter will be evaluated in a list context (as described above) to get the list value. Alternately, you can provide list value directly in line.  As an example, the following two fragments yield the same result:

<pre>
{
  "a": ["alice", "bob"],
  "command": ["echo", {"foreach": "$(a)",
                       "var": "a_var",
                       "command": ["--something", "$(a_var)"]}]
}
</pre>

<pre>
{
  "command": ["echo", {"foreach": ["alice", "bob"],
                       "var": "a_var",
                       "command": ["--something", "$(a_var)"]}]
}
</pre>

Note: when you provide the list inline with "foreach" or "index", you must include the "var" parameter to specify the substitution variable name to use when evaluating the command fragment.

You can also nest functions.  This filters @["alice", "bob", "betty"]@ on the regular expression @"b.*"@ to get the list @["bob", "betty"]@, assigns @a_var@ to each value of the list, then expands @"command"@ to get @["--something", "bob", "--something", "betty"]@.

<pre>
{
  "command": ["echo", {"foreach": {"filter": ["alice", "bob", "betty"],
                                   "regex": "b.*"},
                       "var": "a_var",
                       "command": ["--something", "$(a_var)"]}]
}
</pre>

h3. foreach

The @foreach@ list item function (not to be confused with the @task.foreach@ directive) expands a command template for each item in the specified user parameter (the value of the user parameter is evaluated in a list context, as described above).  The following example will evaluate "command" to @["echo", "--something", "alice", "--something", "bob"]@:

<pre>
{
  "a": ["alice", "bob"],
  "command": ["echo", {"foreach": "$(a)",
                       "var": "a_var",
                       "command": ["--something", "$(a_var)"]}]
}
</pre>

h3. index

This function extracts a single item from a list.  The value of @index@ is zero-based (i.e. the first item is at index 0, the second item index 1, etc).  The following example will evaluate "command" to @["echo", "--something", "bob"]@:

<pre>
{
  "a": ["alice", "bob"],
  "command": ["echo", {"list": "$(a)",
                       "var": "a_var",
                       "index": 1,
                       "command": ["--something", "$(a_var)"]}]
}
</pre>

h3. filter

Filter the list so that it only includes items that match a regular expression.  The following example will evaluate to @["echo", "bob"]@

<pre>
{
  "a": ["alice", "bob"],
  "command": ["echo", {"filter": "$(a)",
                       "regex": "b.*"}]
}
</pre>

h3. group

Generate a list of lists, where items are grouped on common subexpression match.  Items which don't match the regular expression are excluded.  In the following example, the subexpression is @(a?)@, resulting in two groups, strings that contain the letter 'a' and strings that do not.  The following example evaluates to @["echo", "--group", "alice", "carol", "dave", "--group", "bob", "betty"]@:

<pre>
{
  "a": ["alice", "bob", "betty", "carol", "dave"],
  "b": {"group": "$(a)",
        "regex": "[^a]*(a?).*"},
  "command": ["echo", {"foreach": "$(b)",
                       "var": "b_var",
                       "command": ["--group", "$(b_var)"]}]
}
</pre>

h3. extract

Generate a list of lists, where items are split by subexpression match.  Items which don't match the regular expression are excluded.  The following example evaluates to @["echo", "--something", "c", "a", "rol", "--something", "d", "a", "ve"]@:

<pre>
{
  "a": ["alice", "bob", "carol", "dave"],
  "b": {"extract": "$(a)",
        "regex": "(.+)(a)(.*)"},
  "command": ["echo", {"foreach": "$(b)",
                       "var": "b_var",
                       "command": ["--something", "$(b_var)"]}]
}
</pre>

h3. batch

Generate a list of lists, where items are split into a batch size.  If the list does not divide evenly into batch sizes, the last batch will be short.  The following example evaluates to @["echo", "--something", "alice", "bob", "--something", "carol", "dave"]@

<pre>
{
  "a": ["alice", "bob", "carol", "dave"],
  "command": ["echo", {"foreach":{"batch": "$(a)",
                                  "size": 2},
                       "var": "a_var",
                       "command": ["--something", "$(a_var)"]}]
}
</pre>

h2. Directives

Directives alter the behavior of run-command.  All directives are optional.

h3. task.cwd

This directive sets the initial current working directory in which your command will run.  If @task.cwd@ is not specified, the default current working directory is @task.outdir@.

h3. task.ignore_rcode

By Unix convention a task which exits with a non-zero return code is considered failed.  However, some programs (such as @grep@) return non-zero codes for conditions that should not be considered fatal errors.  Set @"task.ignore_rcode": true@ to indicate the task should always be considered a success regardless of the return code.

h3. task.stdin and task.stdout

Provide standard input and standard output redirection.

@task.stdin@ must evaluate to a path to a file to be bound to the standard input stream of the command.  When command describes a Unix pipeline, this goes into the first command.

@task.stdout@ specifies the desired file name in the output directory to save the content of standard output.  When command describes a Unix pipeline, this captures the output of the last command.

h3. task.env

Set environment variables for the command.  Accepts an object mapping environment variables to the desired values.  Parameter substitution is performed on values, but not on the environment variable names themselves.  Example usage:

<pre>
{
  "command": ["/bin/sh", "-c", "echo $MY_ENV_VAR"],
  "task.env": {
    "MY_ENV_VAR": "Hello world!"
  }
}
</pre>

h3. task.vwd

Background: because Keep collections are read-only, this does not play well with certain tools that expect to be able to write their outputs alongside their inputs (such as tools that generate indexes that are closely associated with the original file.)  The run-command's solution to this is the "virtual working directory".

@task.vwd@ specifies a Keep collection with the starting contents of the output directory.  @run-command@ will populate @task.outdir@ with directories and symlinks to mirror the contents of the @task.vwd@ collection.  Your command will then be able to both access its input files and write its output files from within @task.outdir@.  When the command completes, run-command will write the contents of the output directory, which will include the output of your command as well as symlinks to files in starting collection.  Note that files from the starting collection remain read-only and cannot be altered, but may be deleted or renamed.

h3. task.foreach

Using @task.foreach@, you can run your command concurrently over large datasets.

@task.foreach@ takes the names of one or more user-defined parameters.  The value of these parameters are evaluated in a list context.  @run-command@ then generates tasks based on the Cartesian product (i.e. all combinations) of the input lists.  The outputs of all tasks are merged to create the final output collection.  Note that if two tasks output a file in the same directory with the same name, that file will be concatenated in the final output.  In the following example, three tasks will be created for the "grep" command, based on the contents of user parameter "a":

<pre>
{
  "command": ["echo", "$(a)"],
  "task.foreach": "a",
  "a": ["alice", "bob", "carol"]
}
</pre>

This evaluates to the commands:
<notextile>
<pre>
["echo", "alice"]
["echo", "bob"]
["echo", "carol"]
</pre>
</notextile>

You can also specify multiple parameters:

<pre>
{
  "a": ["alice", "bob"],
  "b": ["carol", "dave"],
  "task.foreach": ["a", "b"],
  "command": ["echo", "$(a)", "$(b)"]
}
</pre>

This evaluates to the commands:

<pre>
["echo", "alice", "carol"]
["echo", "alice", "dave"]
["echo", "bob", "carol"]
["echo", "bob", "dave"]
</pre>

h1. Examples

The following is a single task pipeline using @run-command@ to run the bwa alignment tool to align a single paired-end read fastq sample.  The input to this pipeline is the reference genome and a collection consisting of two fastq files for the read pair.

<notextile>{% code 'run_command_simple_example' as javascript %}</notextile>

The following is a concurrent task pipeline using @run-command@ to run the bwa alignment tool to align a set of fastq reads over multiple samples.  The input to this pipeline is the reference genome and a collection consisting subdirectories for each sample, with each subdirectory containing pairs of fastq files for each set of reads.

<notextile>{% code 'run_command_foreach_example' as javascript %}</notextile>
