<%
   if (controller.andand.action_name == 'show') and params[:uuid]
     class_name = controller.model_class.to_s.underscore
     class_name_h = class_name.humanize(capitalize: false)
     req_item = safe_join([class_name_h, " with UUID ",
                           raw("<code>"), params[:uuid], raw("</code>")], "")
     req_item_plain_text = safe_join([class_name_h, " with UUID ", params[:uuid]])
   else
     req_item = "page you requested"
     req_item_plain_text = "page you requested"
   end
%>

<h2>Not Found</h2>

<% if !current_user %>
<p>You are not logged into Arvados. Please retry after log in.</p><br/>
<% end %>

<p>The <%= req_item %> was not found.

<% if class_name %>
Perhaps you'd like to
<%= link_to("browse all #{class_name_h.pluralize}", action: :index, controller: class_name.tableize) %>?
<% end %>

</p>

<% error_message = "The #{req_item_plain_text} was not found." %>
<%= render :partial => "report_error", :locals => {error_message: error_message, error_type: '404'} %>
