<%
   if (controller.andand.action_name == 'show') and params[:uuid]
     class_name = controller.model_class.to_s.underscore
     class_name_h = class_name.humanize(capitalize: false)
     req_item = safe_join([class_name_h, " with UUID ",
                           raw("<code>"), params[:uuid], raw("</code>")], "")
     req_item_plain_text = safe_join([class_name_h, " with UUID ", params[:uuid]])
   else
     req_item = "page you requested"
   end
%>

<h2>Not Found</h2>

<p>The <%= req_item %> was not found.

<% if class_name %>
Perhaps you'd like to
<%= link_to("browse all #{class_name_h.pluralize}", action: :index, controller: class_name.tableize) %>?
<% end %>

</p>

<p>
<br/>
<% error_message = "The #{req_item_plain_text} was not found." %>
<strong>Would you like to report this problem?</strong></br>
<%= link_to report_issue_popup_path(popup_type: 'report', current_location: request.fullpath, action_method: 'post', error_message: error_message),
      {class: 'btn btn-primary report-issue-modal-window', 'data-toggle' =>  "modal", 'data-target' => '#report-issue-modal-window', :remote => true, return_to: request.url} do %>
      <i class="fa fa-fw fa-support"></i> Report problem
<% end %>
</p>
