<h2>Not Found</h2>

<p>The item you requested was not found.

<% if params[:uuid] and (model_class = resource_class_for_uuid(params[:uuid]))
     then class_name = model_class.to_s.pluralize.downcase %>
Perhaps you'd like to
<%= link_to("browse all #{class_name}", send("#{class_name}_path".to_sym)) %>?
<% end %>

</p>

