<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<% content_for :arvados_object_table do %>

<% end %>

<% if content_for? :page_content %>
<%= yield :page_content %>
<% else %>
<%= yield :arvados_object_table %>
<% end %>

<div>
  <ul class="nav nav-tabs">
    <% if content_for? :page_content %>
    <li><a href="#arvados-object-table" data-toggle="tab">Table</a></li>
    <% end %>
    <li class="active"><a href="#arvados-object-json" data-toggle="tab">API response JSON</a></li>
    <% if @object.andand.uuid %>
    <li><a href="#arvados-object-curl" data-toggle="tab">curl update example</a></li>
    <li><a href="#arvados-object-arv" data-toggle="tab">&ldquo;arv&rdquo; CLI examples</a></li>
    <li><a href="#arvados-object-python" data-toggle="tab">Python example</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% if content_for? :page_content %>
    <div id="arvados-object-table" class="tab-pane fade">
      <%= yield :arvados_object_table %>
    </div>
    <% end %>
    <div id="arvados-object-json" class="tab-pane fade in active">

    </div>


  </div>
</div>
