<!-- googleoff: all -->
<div id="browser-unsupported" class="hidden">
  <div class="alert alert-danger">
    <p>
      <b>Hey!</b> Your web browser is missing some of the features we
      rely on.  Usually this means you're running an old version.
      Updating your system, or switching to a current version
      of <a class="alert-link"
      href="//google.com/search?q=download+Mozilla+Firefox">Firefox</a>
      or <a class="alert-link"
      href="//google.com/search?q=download+Google+Chrome">Chrome</a>,
      should fix this.
    </p>
  </div>
</div>
<!-- googleon: all -->
