<%
  if current_user
    prefs = current_user.prefs
    if !prefs[:getting_started_shown]
      prefs[:getting_started_shown] = Time.now
      current_user.update_attributes prefs: prefs.to_json
    end
  end
%>

<div class="modal">
  <div class="modal-dialog modal-with-loading-spinner">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <div>
          <div class="col-sm-8"> <h4 class="modal-title"> Getting Started with Arvados </h4> </div>
          <div class="spinner spinner-32px spinner-h-center col-sm-1" hidden="true"></div>
        </div>
        <br/>
      </div>

      <div class="modal-body" style="height: 25em; overflow-y: scroll">
        Page 1
      </div>
      <div class="modal-body" style="height: 25em; overflow-y: scroll">
        Page 2
      </div>
      <div class="modal-body" style="height: 25em; overflow-y: scroll">
        Page 3
      </div>
      <div class="modal-body" style="height: 25em; overflow-y: scroll">
        Page 4
      </div>

      <div class="modal-footer">
        <div style="text-align:center">
          <button class="btn btn-default pager-prev"><i class="fa fa-fw fa-chevron-left"></i><span style="font-weight: bold;"> Prev</span></button>
          <button class="btn btn-default pager-next"><span style="font-weight: bold;">Next </span><i class="fa fa-fw fa-chevron-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
