<% to_label = {
     "Cancelled" => "danger",
     "Complete" => "success",
     "Running" => "info",
     "Failed" => "danger",
     "Queued" => "default",
     nil => "default"
   } %>

  <span class="label label-<%= to_label[j[:state]] %>"><%= if defined? title then title else j[:state].downcase end %></span>
