<% if (j.andand[:state] == "Running" or defined? scaleby) and (not defined? show_progress_bar or show_progress_bar) %>
  <%
    failed = j[:tasks_summary][:failed] || 0 rescue 0
    done = j[:tasks_summary][:done] || 0 rescue 0
    running = j[:tasks_summary][:running] || 0 rescue 0
    todo = j[:tasks_summary][:todo] || 0 rescue 0

    if done + running + failed + todo == 0
      # No tasks were ever created for this job;
      # render an empty progress bar.
      done_percent = 0
    else
      percent_total_tasks = 100.0 / (done + running + failed + todo)
      if defined? scaleby
        percent_total_tasks *= scaleby
      end
      done_percent = (done+failed) * percent_total_tasks
    end
    %>

  <% if not defined? scaleby %>
    <div class="progress" style="margin-bottom: 0px">
  <% end %>

  <span class="progress-bar <%= if failed == 0 then 'progress-bar-success' else 'progress-bar-warning' end %>" style="width: <%= done_percent %>%;">
  </span>

  <% if not defined? scaleby %>
  </div>
  <% end %>

<% else %>

<% to_label = {
     "Cancelled" => "danger",
     "Complete" => "success",
     "Running" => "info",
     "Failed" => "danger",
     "Queued" => "default",
     nil => "default"
   } %>

  <span class="label label-<%= to_label[j.andand[:state]] %>">
    <%= if defined? title
          title
        else
          if j.andand[:state] then j[:state].downcase else "Not ready" end
        end
        %></span>

<% end %>
