<% status = Job.state j %>
<% to_label = {
     "Cancelled" => "danger",
     "Completed" => "success",
     "Running" => "info",
     "Failed" => "danger",
     "Queued" => "default",
     nil => "default"
   } %>

  <span class="label label-<%= to_label[status] %>"><%= if defined? title then title else status.downcase end %></span>
