<div id="loading-modal" class="modal fade">
  <div class="modal-dialog">
  	<div class="modal-content">
	  <div class="modal-header">
	    <h3>Refreshing...</h3>
	  </div>
	  <div class="modal-body">
	    <p>Content may have changed.</p>
	  </div>
	</div>
  </div>
</div>
