<% if @object.respond_to? :name %>
  <h2>
    <%= render_editable_attribute @object, 'name', nil, { 'data-emptytext' => "New #{controller.model_class.to_s.underscore.gsub("_"," ")}" } %>
  </h2>
<% end %>

<% if @object.respond_to? :description %>
  <div class="arv-description-as-subtitle">
    <%= render_editable_attribute @object, 'description', nil, { 'data-emptytext' => "(No description provided)", 'data-toggle' => 'manual' } %>
  </div>
<% end %>
