<% if p.state == 'Complete' %>
  <span class="label label-success">finished</span>
<% elsif p.state == 'Failed' %>
  <span class="label label-danger">failed</span>
<% elsif p.state == 'RunningOnServer' || p.state == 'RunningOnClient' %>
  <span class="label label-info">running</span>
<% else %>
  <% if (p.components.select do |k,v| v[:job] end).length == 0 %>
    <span class="label label-default">not started</span>
  <% else %>
    <span class="label label-default">not running</span>
  <% end %>
<% end %>
