<li role="presentation" class="dropdown-header" title="Toplevel projects">
  My projects
</li>
<li>
  <%= project_link_to.call({object: current_user, depth: 0}) do %>
    <span style="padding-left: 0">Home</span>
  <% end %>
</li>
<% my_toplevel_projects.each do |pnode| %>
  <li>
    <%= project_link_to.call({object: pnode, depth: 1}) do %>
      <span style="padding-left: 1em"></span><%= pnode[:name] %>
    <% end %>
  </li>
<% end %>
