<li role="presentation" class="dropdown-header">
  My projects
</li>
<li>
  <%= project_link_to.call({object: current_user, depth: 0}) do %>
    <span style="padding-left: 0">Home</span>
  <% end %>
</li>
<% (my_starred_projects current_user).each do |pnode| %>
  <li>
    <%= project_link_to.call({object: pnode, depth: 0}) do%>
      <span style="padding-left: 0em"></span><%= pnode[:name] %>
    <% end %>
  </li>
<% end %>
