<%
   popup_params = {
     popup_type: 'report',
     current_location: request.url,
     current_path: request.fullpath,
     action_method: 'post',
   }
   if error_type == "api"
     popup_params.merge!(
       api_error_request_url: api_error.andand.request_url || "",
       api_error_response: api_error.andand.api_response || "",
     )
   else
     popup_params.merge!(error_message: error_message)
   end
%>

<p>
<%= link_to(report_issue_popup_path(popup_params),
            {class: 'btn btn-primary report-issue-modal-window', :remote => true, return_to: request.url}) do %>
  <i class="fa fa-fw fa-support"></i> Report problem
<% end %>

or

<%= mail_to(Rails.configuration.support_email_address, "email us",
            subject: "Workbench problem report",
            body: "Problem while viewing page #{request.url}") %>

if you suspect this is a bug.
</p>
