<div class="panel-group" id="arv-adv-accordion">
  <% ['API response',
      'Metadata',
      'Python example',
      'CLI example',
      'curl example'].each do |section| %>
    <% section_id = section.gsub(" ","_").downcase %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#arv-adv-accordion" href="#advanced_<%=section_id%>">
            <%= section %>
          </a>
        </h4>
      </div>
      <div id="advanced_<%=section_id%>" class="panel-collapse collapse <%#= 'in' if section == 'API response'%>">
        <div class="panel-body">
          <%= render partial: "show_advanced_#{section_id}", locals: {object: @object} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
