<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<h2>Oh... fiddlesticks.</h2>

<p>Sorry, I had some trouble handling your request.</p>

<ul>
<% if @errors.is_a? Array then @errors.each do |error| %>
<li><%= error %></li>
<% end end %>
</ul>
