<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<div class="col-sm-11 col-sm-push-1 arv-description-in-table">
  <%= @object.description %>
</div>
<%= render partial: 'show_components' %>
