<%# Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: AGPL-3.0 %>

<%= content_for :content_top do %>
  <h2>Template '<%= @object.name %>'</h2>
<% end %>

<table class="table topalign">
  <thead>
  </thead>
  <tbody>
    <% @object.attributes_for_display.each do |attr, attrvalue| %>
      <% if attr != 'components' %>
        <%= render partial: 'application/arvados_object_attr', locals: { attr: attr, attrvalue: attrvalue } %>
      <% end %>
    <% end %>
  </tbody>
</table>
