---
layout: default
navsection: installguide
title: Set up a compute node
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

h2. Install dependencies

h3. Centos 7

{% include 'note_python_sc' %}

<notextile>
<pre><code>~$ <span class="userinput">echo 'exclude=python2-llfuse' | sudo tee -a /etc/yum.conf</span>
~$ <span class="userinput">sudo yum install python-arvados-fuse crunch-run arvados-docker-cleaner</span>
</code></pre>
</notextile>

h3. Debian and Ubuntu

<notextile>
<pre><code>~$ <span class="userinput">sudo apt-get install python-arvados-fuse crunch-run arvados-docker-cleaner</span>
</code></pre>
</notextile>

{% include 'install_compute_docker' %}

{% include 'install_compute_fuse' %}

{% include 'install_docker_cleaner' %}

h2. Set up SLURM

Install SLURM on the compute node using the same process you used on the API server in the "previous step":install-slurm.html.

The @slurm.conf@ and @/etc/munge/munge.key@ files must be identical on all SLURM nodes. Copy the files you created on the API server in the "previous step":install-slurm.html to each compute node.
