# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

arvados_dnf_command: "dnf --quiet --assumeyes"

# For each version of RHEL we support, map component names to the module
# that needs to be enabled for it.
arvados_dnf_modules_map:
  "8":
    postgresql: "postgresql:10"
    python: "python39:3.9"
    ruby: "ruby:3.1"
  "9":
    ruby: "ruby:3.1"
