[Unit]
Description=Arvados Crunch Dispatcher for SLURM
Documentation=https://doc.arvados.org/
After=network.target
AssertPathExists=/etc/arvados/crunch-dispatch-slurm/crunch-dispatch-slurm.yml
# systemd<230
StartLimitInterval=0
# systemd>=230
StartLimitIntervalSec=0

[Service]
Type=notify
ExecStart=/usr/bin/crunch-dispatch-slurm
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
