---
layout: default
navsection: userguide
navmenu: Getting Started
title: "Checking your environment"

...

h1. Checking your environment

First you should "log into an Arvados VM instance":{{site.basedoc}}/user/getting_started/ssh-access.html#login if you have not already done so.

Check that you are able to access the Arvados API server using the following command:

notextile. <pre><code>$ <span class="userinput">arv user current</span></code></pre>

If @arv user current@ is able to access the API server, it will print out the unique identifier associated with your account.  Here is an example (you will receive a different identifier):

bc. qr1hi-xioed-9z2p3pn12yqdaem

However, if you receive the following message:

bc. ARVADOS_API_HOST and ARVADOS_API_TOKEN need to be defined as environment variables

Then follow the instructions for "getting an API token,":{{site.basedoc}}/user/reference/api-tokens.html and return to this document.

The unique identifier represents your identity in the Arvados system and is similar to the concept of a pointer or a foreign key.  You may de-reference (get the contents of) any identifier returned by the "arv" command using the @-h@ command line option.  For example:

<notextile>
<pre><code>$ <span class="userinput">arv -h user current</span>
{
 "href":"https://qr1hi.arvadosapi.com/arvados/v1/users/qr1hi-xioed-9z2p3pn12yqdaem",
 "kind":"arvados#user",
 "etag":"8u0xwb9f3otb2xx9hto4wyo03",
 "uuid":"qr1hi-tpzed-92d3kxnimy3d4e8",
 "owner_uuid":"qr1hi-tpqed-23iddeohxta2r59",
 "created_at":"2013-12-02T17:05:47Z",
 "modified_by_client_uuid":"qr1hi-xxfg8-owxa2oa2s33jyej",
 "modified_by_user_uuid":"qr1hi-tpqed-23iddeohxta2r59",
 "modified_at":"2013-12-02T17:07:08Z",
 "updated_at":"2013-12-05T19:51:08Z",
 "email":"you@example.com",
 "full_name":"Example User",
 "first_name":"Example",
 "last_name":"User",
 "identity_url":"https://www.google.com/accounts/o8/id?id=AItOawnhlZr-pQ_Ic2f2W22XaO02oL3avJ322k1",
 "is_active": true,
 "is_admin": false,
 "prefs":{}
}
</code></pre>
</notextile>

You are now ready proceed to the first tutorial: "Storing and retrieving data using Arvados Keep.":{{site.basedoc}}/user/tutorials/tutorial-keep.html
