---
layout: default
navsection: userguide
title: Getting started at the command line
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

Many operations in Arvados can be performed using either the web Workbench or through command line tools.  Some operations can only be done using the command line.

To use the command line tools, you can either log into an Arvados virtual machine where those tools are pre-installed, or install the Arvados tools on your own system.

h2. Option 1: Using an Arvados virtual machine

This is the command line interface we recommend for most day-to-day work, because the tools are all preinstalled and preconfigured for you. You can log in to any virtual machine where you have permission by using:

* "the Webshell client":{{site.baseurl}}/user/getting_started/vm-login-with-webshell.html accessible through Arvados Workbench
* "Unix SSH clients":{{site.baseurl}}/user/getting_started/ssh-access-unix.html
* "Windows SSH clients":{{site.baseurl}}/user/getting_started/ssh-access-windows.html

h2. Option 2: Installing Arvados tools on your own system

This option gives you more flexibility in your work, but takes more time to set up.

h3. Install client tools on Red Hat, AlmaLinux, and Rocky Linux

{% assign modules_to_enable = "python39:3.9" %}
{% assign packages_to_install = "arvados-client python3-arvados-python-client python3-arvados-cwl-runner python3-arvados-fuse python3-crunchstat-summary" %}
{% include 'setup_redhat_repo' %}

Proceed to build and install the Arvados CLI tools:

<notextile>
<pre><code># <span class="userinput">dnf module enable ruby:3.1</span>
# <span class="userinput">dnf install ruby ruby-devel gcc-c++ make redhat-rpm-config glibc-devel glibc-headers curl-devel openssl-devel zlib-devel</span>
# <span class="userinput">gem install arvados-cli</span>
</code></pre>
</notextile>

h3. Install client tools on Debian and Ubuntu

{% include 'setup_debian_repo' %}

Proceed to build and install the Arvados CLI tools:

<notextile>
<pre><code># <span class="userinput">apt install ruby ruby-dev gcc g++ make libc-dev libcurl4-openssl-dev zlib1g-dev</span>
# <span class="userinput">gem install arvados-cli</span>
</code></pre>
</notextile>

h3. Proceed to configuration

Once you have the command line tools installed, proceed to "getting an API token":{{site.baseurl}}/user/reference/api-tokens.html.
