---
layout: default
navsection: userguide
title: Getting started at the command line
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

Many operations in Arvados can be performed using either the web Workbench or through command line tools.  Some operations can only be done using the command line.

To use the command line tools, you can either log into an Arvados virtual machine where those tools are pre-installed, or install the Arvados tools on your own system.

h2. Option 1: Using an Arvados virtual machine

This is the command line interface we recommend for most day-to-day work, because the tools are all preinstalled and preconfigured for you. You can log in to any virtual machine where you have permission by using:

* "the Webshell client":{{site.baseurl}}/user/getting_started/vm-login-with-webshell.html accessible through Arvados Workbench
* "Unix SSH clients":{{site.baseurl}}/user/getting_started/ssh-access-unix.html
* "Windows SSH clients":{{site.baseurl}}/user/getting_started/ssh-access-windows.html

h2. Option 2: Installing Arvados tools on your own system

This option gives you more flexibility in your work, but takes more time to set up.

h3. Recommended: Install client tools on Linux using @pipx@

To start getting work done on your Arvados cluster from the command line, install the "arvados-tools Python package":https://pypi.org/project/arvados-tools/ that contains CLI tools and client libraries.

The recommended way to install @arvados-tools@ is to use @pipx@. If you need to install @pipx@:

* On Debian or Ubuntu, run <code class="userinput">sudo apt install pipx</code>.
* On Red Hat, AlmaLinux, or Rocky Linux, run <code class="userinput">sudo dnf install pipx</code>.
* Then, as your own user, run <code class="userinput">pipx ensurepath</code>.

If you need troubleshooting or other help, "refer to the pipx documentation":https://pipx.pypa.io/stable/how-to/install-pipx/#on-linux. After @pipx@ is installed, run:

<notextile><pre>
<code>$ <span class="userinput">pipx install --include-deps arvados-tools</span></code>
</pre></notextile>

h3. Alternative: Install client tools using the system package manager

h4. On Debian and Ubuntu

{% assign packages_to_install = "arvados-client python3-arvados-python-client python3-arvados-cwl-runner python3-arvados-fuse python3-crunchstat-summary" %}
{% include 'setup_debian_repo' %}

h4. On Red Hat, AlmaLinux, and Rocky Linux

{% include 'setup_redhat_repo' %}

h3. Proceed to configuration

Once you have the command line tools installed, proceed to "getting an API token":{{site.baseurl}}/user/reference/api-tokens.html.
