---
layout: default
navsection: userguide
title: Accessing an Arvados VM with Webshell
...

This document describes how to access an Arvados VM with Webshell from Workbench.

h2(#webshell). Access VM using webshell

Webshell gives you access to an arvados virtual machine from your browser with no additional setup.

In the Arvados Workbench, click on the dropdown menu icon <span class="fa fa-lg fa-user"></span> <span class="caret"></span> in the upper right corner of the top navigation menu to access the user settings menu, and click on the menu item *Virtual machines* to see the list of virtual machines you can access.

Each row in the Virtual Machines panel lists the hostname of the VM, along with a <code>Log in as *you*</code> button under the column "Web shell beta". Clinking on this button will open up a webshell terminal for you in a new browser tab and log you in.

!{display: block;margin-left: 25px;margin-right: auto;border:1px solid lightgray;}{{ site.baseurl }}/images/vm-access-with-webshell.png!

You are now ready to work in your Arvados VM.
