---
layout: default
navsection: userguide
title: Accessing an Arvados VM with Webshell
...
{% comment %}
Copyright (C) The Arvados Authors. All rights reserved.

SPDX-License-Identifier: CC-BY-SA-3.0
{% endcomment %}

This document describes how to access an Arvados VM with Webshell from Workbench.

h2(#webshell). Access VM using webshell

Webshell gives you access to an arvados virtual machine from your browser with no additional setup.

{% include 'notebox_begin' %}
Some Arvados clusters may not have webshell set up.  If you do not see a "Log in" button or "web shell" column, you will have to follow the "Unix":ssh-access-unix.html or "Windows":ssh-access-windows.html @ssh@ instructions.
{% include 'notebox_end' %}

In the Arvados Workbench, click on the dropdown menu icon <i class="fa fa-lg fa-user"></i> in the upper right corner of the top navigation menu to access the _Account Management_ menu, and click on the menu item *Virtual machines* to see the list of virtual machines you can access.  If you do not have access to any virtual machines,  please click on <span class="btn btn-sm btn-primary">SEND REQUEST FOR SHELL ACCESS</span> (if present) or contact your system administrator.  For the Arvados Playground, this is "info@curii.com":mailto:info@curii.com .

Each row in the Virtual Machines panel lists the hostname of the VM, along with a <span class="btn btn-sm btn-default" style="background-color: #e0e0e0">Log in as [your name]</span> button under the column "*Web shell*". Clicking on this button will open up a webshell terminal for you in a new browser tab and log you in.

!{width: 100%;}{{ site.baseurl }}/images/vm-access-with-webshell.png!

You are now ready to work in your Arvados VM.
