# Copyright (C) The Arvados Authors. All rights reserved.
#
# SPDX-License-Identifier: AGPL-3.0

name: Arvados Tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  doc-pysdk-api-fuse:
    name: Doc PySDK API Fuse Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Setup buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0
      - name: Build test container
        uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0 # v5.3.0
        with:
          context: .
          file: "services/workbench2/docker/Dockerfile"
          tags: arvados-test:latest
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
      - name: Run tests
        uses: addnab/docker-run-action@4f65fabd2431ebc8d299f8e5a018d79a769ae185 # v3
        with:
          image: arvados-test:latest
          options: -v ${{github.workspace}}:/usr/src/arvados -w /usr/src/arvados
          run: |
            pg_isready || pg_ctlcluster 13 main start && \
            WORKSPACE=$(pwd) build/run-tests.sh \
              --only doc \
              --only sdk/python \
              --only services/api \
              --only services/fuse \
              sdks=python
  # workbench2:
  #   name: Workbench2 Tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
  #     - name: Setup buildx
  #       uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0
  #     - name: Build wb2 test container
  #       uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0 # v5.3.0
  #       with:
  #         context: .
  #         file: "services/workbench2/docker/Dockerfile"
  #         tags: workbench2-test:latest
  #         load: true
  #         cache-from: type=gha
  #         cache-to: type=gha,mode=max
  #         push: false
  #     - name: Run wb2 integration tests
  #       uses: addnab/docker-run-action@4f65fabd2431ebc8d299f8e5a018d79a769ae185 # v3
  #       with:
  #         image: workbench2-test:latest
  #         options: -v ${{github.workspace}}:/usr/src/arvados -w /usr/src/arvados/services/workbench2
  #         run: |
  #           yarn install
  #           yarn test --no-watchAll --bail --ci || exit $?
  #           tools/run-integration-tests.sh -a /usr/src/arvados
